[2015-02-03 10:32] jgvictores opened #1 "Review namespaces"
Fit all classes into teo namepace.

[2015-02-03 11:52] jgvictores opened #2 "[CI] Set travis and coverage CI frameworks"
Set basic CI frameworks, namely travis and coverage.

[2015-04-22 10:32] jgvictores opened #3 "Publish microphone from asus"
Publish microphone data stream from asus xtion pro live.

[2015-07-24 10:43] jgvictores commented on #3
Pulseaudio detects asus xtion pro live microphone as standard microphone.

[2015-07-24 10:43] #3 closed, assigned to nobody

[2015-07-24 11:39] jgvictores commented on #1
Done at 987415e92e7071cf2a8590db2be5d4b402fa3a16.

[2015-07-24 11:39] #1 closed, assigned to nobody

[2015-11-24 10:16] jgvictores opened #4 "Teo-head compilation error"
## Isuue originally by @rsantos88 at https://github.com/roboticslab-uc3m/teo-main/issues/12

Compilation error with teo-head code:

[ 7%] Built target HeadYarp
[ 14%] Building CXX object programs/cv1/CMakeFiles/cv1.dir/Cv1.cpp.o
In file included from /home/teo/git/teo-head/programs/cv1/SegmentorThread.hpp:14:0,
from /home/teo/git/teo-head/programs/cv1/Cv1.hpp:6,
from /home/teo/git/teo-head/program

[2015-11-28 11:52] jgvictores opened #5 "[idea] Publish microphone data stream"
Had issues last time using http://wiki.icub.org/wiki/Grabbing_sound_with_PortAudio.

[2015-11-28 11:54] jgvictores opened #6 "Develop QR detection module"
Develop qrDetection2D module, similar to `colorRegionDetection2D` and `haarDetection2D`.

[2015-11-28 12:03] jgvictores opened #7 "Refactor CMake files"
A great number of new CMake features would make our CMake files cleaner and better.

[2015-12-14 16:36] jgvictores commented on #4
Fixed at 6e601b05bfa13a920519d0f57a606a31b1f4f0a4 (documentation updated: http://robots.uc3m.es/dox-teo-head/teo_head_install_on_ubuntu_15_04.html)

[2015-12-14 16:36] #4 closed, assigned to nobody

[2015-12-16 11:15] ghost opened #8 "Error Compilation - teo-head"
In file included from /home/jgarciah/git/teo-head/programs/cv1/SegmentorThread.hpp:14:0,
                 from /home/jgarciah/git/teo-head/programs/cv1/SegmentorThread.cpp:3:
/usr/local/include/yarp/dev/IOpenNI2DeviceDriver.h:16:18: fatal error: NiTE.h: No such file or directory
 #include <NiTE.h>
                  ^
compilation terminated.
make[2]: **\* [programs/cv1/CMakeFiles/cv1.dir/SegmentorT

[2015-12-16 11:17] jgvictores commented on #8
Fixed at faff071f11da3fa8ce5519d5bc8c8a1d3332ea85.

[2015-12-16 11:17] #8 closed, assigned to nobody

[2015-12-17 11:34] ghost opened #9 "ASUS CAMERA CONECTION"
In the lab computer of Juan H, Juan can not connect the camera.

[2015-12-18 17:37] jgvictores commented on #9
Could you copy the output of the following command (with the Asus Xtion Pro Live connected)?
yarpdev --device OpenNI2DeviceServer --noMirror --depthVideoMode 4 --colorVideoMode 9

[2016-02-03 09:54] jmgarciah opened #10 "Improve colorRegionDetection and haarDetection documentation"
Documentation currently hosted at:

* http://robots.uc3m.es/dox-vision/group__haarDetection.html
* http://robots.uc3m.es/dox-vision/group__colorRegionDetection.html

Lacks information regarding
- [X] Configuration parameters on init
- ~~Input ports and contents~~
- [X] Output ports and contents

[2016-02-03 10:00] jgvictores commented on #9
Issue fixed by disconnecting and connecting the USB 3.0 cable.
This driver issue could possibly be addressed by further research on driver init rules.

[2016-02-03 10:00] #9 closed, assigned to nobody

[2016-02-03 21:34] David-Estevez opened #11 "Define the scope of the repository"
I have seen some commits lately for the "waiter" application on this repo, and I was wondering if we should keep this repo just for generic functionalities (drivers o modules that can be used in several different applications) and create new repositories for specific applications.

What do you think, guys?

[2016-02-03 22:11] jgvictores commented on #11
Hmmm that's an interesting question, could you also post it on https://github.com/roboticslab-uc3m/teo-body and https://github.com/roboticslab-uc3m/teo-main?
Focusing on this repository, regarding computer vision programs, right now we have:
- cv1: performs generic computer vision segmentation through classic algorithms
- cvFaces: similar output, but uses haar cascades for faces.
  Promoting gener

[2016-02-04 10:59] smcdiaz commented on #11
I think we should discuss about it before making any modification in the organization of the repo

[2016-02-05 10:13] David-Estevez opened #12 "Namespace conflict with "exit()" function on cv1"
With the current YARP version on teo-head, compilation of cv1's Segmentor Thread yields an error due to ambiguity between exit() functions.

My guess is that YARP has added a exit(int) function that collides with the standard exit(int) version (due to the "using namemespace" clause).

Current fix is to choose the std exit function ( ::exit() ), but I would suggest avoiding "using namespace" when p

[2016-02-05 10:21] David-Estevez commented on #12
Fix on 20dfb0a

[2016-02-05 10:29] #12 closed, assigned to nobody

[2016-02-05 10:31] David-Estevez opened #13 "Avoid "using namespace" to avoid namespace conflicts"
Use alternatives such as:
- Not using "using namespace"
- Using named namespaces (similar to Python's "import x as y")

[2016-02-05 14:17] jgvictores commented on #13
Totally agree.
+1 to Not using "using namespace".

[2016-02-08 12:22] David-Estevez opened #14 "Embrace GitFlow"
Discuss whether it would be useful or not to use the [GitFlow git workflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow) to improve repository organization and coordination between contributors.

[2016-02-10 09:54] David-Estevez commented on #13
@rsantos88 cv::vector does the same as std::vector ?? (Commit 0807c9ebd90d30709b6c519760a1b2d619a800b6 )

[2016-02-10 10:23] rsantos88 commented on #13
@David-Estevez in this moment, there are not “using namespace” in teo-head proyect and the code compiles perfectly but is necessary to create a tests system for checking if the programs work well.

[2016-02-10 14:37] David-Estevez commented on #13
cv::vector might be due to a "using namespace" inside OpenCV, that has added all std:: members to the cv:: namespace.

@rsantos88 cv::vector should be replaced by std::vector in all instances.

[2016-02-10 15:57] rsantos88 commented on #13
@David-Estevez  Now cv::vector has been replaced by std::vector in all instances of teo-head (Commit c950343ed9c23dbf1a839c81225cb0b5cfbcf4c4)

[2016-02-10 20:05] David-Estevez commented on #13
@jgvictores could you test this refactoring before merging with the main branch?

[2016-02-11 15:08] lpinel opened #15 "Error compiling cv1: /usr/bin/ld: cannot find -lQt5::Widgets"
Error compiling cv1 on Ubuntu 14.04.3 LTS (teo-main PC, but ok on teo-head PC):
/usr/bin/ld: cannot find -lQt5::Widgets
Issue may be related to VTK.

[2016-02-11 16:15] jgvictores commented on #15
On same PC, fixed by setting -DYARP_USE_QT5=OFF on YARP.
Will close issue once documented or fixed upstream.

[2016-02-15 11:00] jgvictores commented on #15
Documented at db010bf028eeb4b266deda7b57e6f29547a071d3, but should still check if issue should be put upstream (robotology/yarp).

[2016-02-15 15:33] jmgarciah commented on #10
PS: --noMirror parameter should be documented at doxygen and code level.

[2016-02-15 15:36] jmgarciah opened #16 "[cv1] seeBounding parameter documentation does not match implementation"
Doumentation reads:
`--seeBounding (0=none,1=box,2=contour,3=both)`
While travis.getCvMat second parameter (to which seeBounding is passed) provides:
`0=none,2=box,1=contour,3=both`

[2016-02-18 14:08] rsantos88 commented on #10
Added tables with parameters of cv1 and cv1Faces documented at doxygen in the next pull request: d23a265abde84f78f2e194b366179f4965759fb6

[2016-02-19 10:48] jgvictores commented on #2
Must add tests; but travis CI integrated, and badges set on ab62155e4df167ebb6b656e3a15cafcfcc482f65.

[2016-02-19 10:48] #2 closed, assigned to nobody

[2016-02-19 10:57] jgvictores commented on #14
Closed at b89439080182c8ba49aa244df133e75f14b1c880.

[2016-02-19 10:57] #14 closed, assigned to nobody

[2016-02-19 12:04] jgvictores commented on #13
Tried and merged at 4a34f5e7826b5dae5383c2bbfebd7143447524d2.

[2016-02-19 12:04] #13 closed, assigned to rsantos88

[2016-02-20 16:19] jgvictores opened #18 "[cv1] cannot compile against latest opencv"
From https://travis-ci.org/roboticslab-uc3m/teo-head/jobs/110604044
we see `no matching function for call to ‘cv::Mat::Mat(IplImage*&)’`
This conversion has been dropped. Here is a tentative solution using cvarrToMat:
http://codeyarns.com/2013/07/04/opencv-error-constructing-mat-from-iplimage/

[2016-02-21 12:42] #15 closed, assigned to nobody

[2016-02-21 15:09] jgvictores opened #19 "cvFaces should be generalized to haarDetection"
Making haar cascade xml a parameter would extend the module capabilities way beyond faces.

[2016-02-21 15:54] jgvictores commented on #18
Implemented use of cvarrToMat, and also had to explicitly include opencv2/objdetect/objdetect.hpp
PR merged at https://github.com/roboticslab-uc3m/teo-head/pull/20.

[2016-02-21 15:54] #18 closed, assigned to nobody

[2016-02-23 09:08] rsantos88 commented on #16
Thanks. Now, everything is corrected (9d6a6c7e8315581269911e6a030e6a556146846f)

[2016-02-23 09:08] #16 closed, assigned to nobody

[2016-03-08 15:38] jgvictores opened #22 "New name for cv1 -> colorRegionDetection"
For starters, "1" should be dropped.
It's mainly composed by: classical morphological operations, some kind of binary thresholding, then opencv blobs/contours...
@David-Estevez Any ideas?

[2016-03-08 15:39] jgvictores commented on #10
Here's some pointers on a description to be added to what currently is cv1 (may change name! see #22):
It's mainly composed by: classical morphological operations, some kind of binary thresholding, then opencv blobs/contours...

[2016-03-08 15:41] jgvictores opened #23 "Cleanup cvFaces from unused parameters"
Cleanup cvFaces from unused parameters (inherited from a copy+paste off cv1).

PS: Note that #19 may involve name change.

[2016-03-08 15:48] David-Estevez commented on #22
What about "cvUtils" or "cvTools"?

Although the prefix "cv" gives me the impression that the code belongs to the OpenCV main code... "VisionUtils" or "VisionTools" also sound good to me.

[2016-03-08 16:31] jgvictores commented on #22
+1 to cv -> vision
Utils or Tools sounds more like collections of scripts, how about some of the following or variants of them?
"visionColorBlobs"
"visionColorSegmentation"

[2016-03-08 16:42] David-Estevez commented on #22
how about "BasicVision" or "Vision"?

[2016-03-08 16:55] jgvictores commented on #22
I've always liked lowerCamelCase for programs, and category as prefix (even in contrast with standard english :smile:). Ok with "visionBasic"?

This change will not be immediate, but it's good as we converge into a naming standard.

[2016-03-08 17:03] David-Estevez commented on #22
I thought it was related to some sort of library, so I used CamelCase for it.

Just as a side-note, computer vision literature (or at least the book I have at hand) names the different stages in vision using the follow naming:
- Early vision: linear filters, textures, edge detection, stereo matching, etc
- Mid-level vision: segmentation, tracking, etc
- High-level vision: classification and semant

[2016-03-09 14:27] rsantos88 commented on #23
Now, cvFaces is clean of the following parameters: (see: #24)
-algorithm
-locate
-maxNumBlobs
-morphClosing
-outFeaturesFormat
-outFeatures
-outImage
-threshold
-seeBouncing
-morphOpening
-fx_rgb
-fy_rgb
-cx_rgb
-cy-rgb

[2016-03-09 14:27] #23 closed, assigned to rsantos88

[2016-03-14 14:43] rsantos88 commented on #19
Added different types of xml hardcascade in cvFaces. Now, you can configure the program using “–xmlCascade” parameter, continued the filename of hardcascade. All the possibles XML files of hardcascade are located in https://github.com/Itseez/opencv/tree/master/data/haarcascades
You can see this changes in #25

[2016-03-14 16:40] jgvictores commented on #22
Final decision:
- cv1 -> colorRegionDetection

[2016-03-15 09:53] jgvictores opened #26 "Language switching"
Maybe upstream at the iSpeak (https://github.com/robotology/speech) level?

[2016-03-16 13:01] jgvictores opened #27 "New name for speechRecognition1"
New name for speechRecognition1 ?

[2016-04-04 11:10] jgvictores commented on #22
Done at https://github.com/roboticslab-uc3m/teo-head/commit/dbf20fec53ba9699558c06adf9c4ff25472f7c0f.

[2016-04-04 11:10] #22 closed, assigned to nobody

[2016-04-04 11:11] jgvictores commented on #27
For now: speechRecognition1 -> speechRecognition

[2016-04-04 11:16] jgvictores commented on #19
Done at https://github.com/roboticslab-uc3m/teo-head/commit/465644ac754676d1b454fc8deb5b6625f45b6ba2.

[2016-04-04 11:16] #19 closed, assigned to nobody

[2016-04-04 11:20] jgvictores commented on #27
Done at https://github.com/roboticslab-uc3m/teo-head/commit/e01ec9f66c7f5c4137febd66b278732ae62cc5bf.

[2016-04-04 11:20] #27 closed, assigned to nobody

[2016-04-04 15:28] jgvictores opened #28 "Review if latest RGBD mirror parameters are being passed"
http://wiki.icub.org/wiki/OpenNI2

[2016-04-08 08:19] jgvictores opened #29 "Add install instructions or link in README."
Add install instructions or link in README.

[2016-04-22 08:43] jgvictores commented on #26
Asked upstream (https://github.com/robotology/speech/issues/13).
Will check out https://github.com/robotology/speech/tree/master/svox-speech !!

[2016-04-22 13:09] jgvictores commented on #26
Solved using svox-speech.

[2016-04-22 13:09] #26 closed, assigned to nobody

[2016-05-05 09:48] jgvictores opened #30 "example apps have outdated names"
example apps have outdated names

[2016-05-05 10:09] jgvictores commented on #30
Done at 22b346edbfc72c1d0c2bf10fd424ee3fccfc5e20.

[2016-05-05 10:09] #30 closed, assigned to nobody

[2016-05-05 10:22] jgvictores commented on #11
Waiter branch will not be merged. The focus of the following [programs](http://robots.uc3m.es/dox-teo-head/group__teo__head__programs.html) is clear:
- colorRegionDetection
- haarDetection
- speechRecognition.py

However, most probably cv1ToRoot will be renamed, and multipleDump will be renamed or moved to a different repository.

[2016-05-05 10:58] jgvictores commented on #28
Mirror-related parameters depend on YARP version, because there have been recent changes, as seen [here](http://wiki.icub.org/index.php?title=OpenNI2&diff=21945&oldid=21929).
I've uploaded example_colorRegionDetection_local.xml app at e772a5d06fe75ab96b447d541dd618eca5ba2dbd to be able to debug what happens on each PC depending on the version (will check teo-head's version as soon as available).

[2016-05-06 08:21] jgvictores commented on #28
teo-main and teo-head both use Feb 2016 versions of YARP (change was in Mar 2016), so their `yarpdev --device OpenNI2DeviceServer --verbose` informs that the `--noMirror` is used. However, as seen in https://github.com/robotology/yarp/issues/683, this parameter is not taken into account.
I'm going to update YARP on teo-head (not on teo-main yet, that should be done with teo-manipulation and teo-lo

[2016-05-06 09:36] jgvictores commented on #28
teo-head and teo-main have been updated to use May 2016 versions of YARP, so their  `yarpdev --device OpenNI2DeviceServer --verbose` inform that `--noRGBMirror` and `--noDepthMirror` are used. They have been tested and are working.

[2016-05-06 10:02] jgvictores commented on #28
Updated teo-head apps at 54f6540fd3657f86dea72cd782013549a7215f59, everything tested and working.

[2016-05-06 10:02] #28 closed, assigned to nobody

[2016-05-06 12:39] jgvictores commented on #29
Done at a560e0865678d77a0be712f74ad6f211248e39ee.

[2016-05-06 12:39] #29 closed, assigned to nobody

[2016-06-10 21:49] David-Estevez opened #31 "Pointgrey camera too hot"
Pointgrey camera heats a lot even when not in use, which leads to hardware livespan reduction (and other potential problems)

[2016-06-14 15:29] David-Estevez commented on #31
I am currently making some tests _ex vivo_ to determine if is a problem of the camera, its a normal condition of if it is related to the camera environment inside TEO head.

[2016-06-14 16:25] David-Estevez commented on #31
_In vivo_ tests:
- Camera connected to the head PC, inside TEO head: camera gets hot as hell (i.e. hot as the DC-DC converter heatsink) :fire: :fire:.
- Camera disconnected, inside TEO head: camera at room temperature.

_Ex vivo_ tests:
- Camera connected to another computer, outside TEO head, drivers not installed: camera gets warm, but not too hot.
- Camera connected to another computer, outside

[2016-06-17 13:00] jmgarciah opened #32 "[asr] add new words for speechrecognition"
what should we do for adding new words in the "speechrecognition" fuction ?? where can we find the documentation ???

I am developing the waiter demo, and for me, it is necessary to include the next commands:
- VOCAB_HELLO_TEO
- VOCAB_GO_TEO
- VOCAB_WATER_PLEASE
- VOCAB_STOP_TEO

[2016-06-17 13:15] jgvictores commented on #32
Collections of words are currently stored in [share/speechRecognition/conf](https://github.com/roboticslab-uc3m/teo-head/tree/a560e0865678d77a0be712f74ad6f211248e39ee/share/speechRecognition/conf).
The .dic and .lm have been generated from a .txt using a tool like [this one](http://www.speech.cs.cmu.edu/tools/lmtool-new.html).

[2016-06-17 13:38] jgvictores commented on #32
Just to not make many changes to speechRecognition.py, for now I've just updated the dictionary at d3e94034a09aa23991f1d7f94548ead7fd3fbce8.

[2016-06-27 10:04] David-Estevez opened #33 "Point Grey camera cannot be accessed through Teo PC"
Point Grey camera cannot be accessed through Teo PC, maybe due to an incomplete driver installation.

[2016-06-28 09:23] rsantos88 opened #34 "[FollowMe] Improving demo"
Propongo la posibilidad de mejorar la demo de "Follow me" (puesto que actualmente es la única que está operativa) añadiendo algo más credibilidad y vistosidad para cuando alguien quiera ver a Teo. Por ejemplo, se pueden intentar añadir cosas "sencillas" como acompañar el balanceo permanente de brazos por la posibilidad de que al principio el robot mueva el brazo (gesticulando) a la vez que dice "o

[2016-06-28 09:26] jgvictores commented on #34
@rsantos88 Could you please post this as an issue in the [follow-me repository](https://github.com/roboticslab-uc3m/follow-me) and close it here?

Thanks!!

[2016-06-28 09:40] rsantos88 commented on #34
Ok @jgvictores. Sorry :)

[2016-06-28 09:40] #34 closed, assigned to nobody

[2016-06-28 10:10] jgvictores commented on #32
Just an update on this: the bigger dictionary updated at d3e94034a09aa23991f1d7f94548ead7fd3fbce8 is causing ASR to fail quite a bit. This issue should continue open until we implement a better solution.

[2016-07-26 13:47] rsantos88 opened #35 "Migrate install instructions from [dox] to [md]."
Migrate install instructions from [dox] to [md].

[2016-07-26 14:02] rsantos88 commented on #35
Pull request done in #36!

[2016-07-26 14:02] #35 closed, assigned to rsantos88

[2016-09-09 09:37] rsantos88 opened #37 "The frontal movement it's not working"
Al tratar de mover la cabeza frontalmente, ésta no se mueve. En cambio al revisar la posición de la articulación a través del encoder relativo, este marca correctamente los grados a los que se le ha mandado moverse.

[2016-09-09 17:18] jgvictores commented on #37
Tiene pinta de motor quemado o conectores/cables mal...

BTW, lo dejamos aquí, pero esto sería un poco más teo-body :smile:

[2016-10-13 11:33] jgvictores opened #38 "[tts] Create yarp device that wraps espeak"
As addressed in https://github.com/roboticslab-uc3m/teo-main/issues/55 the pipe solution of https://github.com/roboticslab-uc3m/teo-main/blob/e0e47c2fc6b3cc40fceffefc075ae811ec0b9b99/share/teoBase/scripts/teoBase.xml#L46-L56 is relatively evil (will not be managed correctly by yarpmanager, and will not be closed correctly as there are two processes and not one).
Create a wrapper of [espeak](http:/

[2016-10-14 08:49] rsantos88 commented on #38
After following the steps, when I try to do "cmake.." in ../espeakExample/build, it says:

I have opened the .bashrc script and It shows the last line with the path:

What can I do?

[2016-10-14 08:52] jgvictores commented on #38
Please paste the output of:

[code]

[2016-10-14 08:53] jgvictores commented on #38
Wait just a sec. `TEO_HEAD_DIR` needs the full path. Pre-pend `/home/YOUR_USER_NAME/` to it.

[2016-10-14 09:06] rsantos88 commented on #38
I just tried to put the full path and it works ok. Thanks @jgvictores

[2016-10-14 09:07] jgvictores commented on #38
:smiley:

[2016-10-18 07:40] jgvictores commented on #38
Lots done at a2be7f8a63b8c285a70ee174bdb0135b9a23cb98.
Missing:
- [x] Set default port full name to /tts/rpc:s
- [x] Example app
- [x] Update follow-me
- [x] Update waiter?

[2016-10-20 15:39] rsantos88 commented on #37
Arreglado. Gracias! :+1:

[2016-10-20 15:39] #37 closed, assigned to jmgarciah

[2016-10-28 13:39] rsantos88 opened #42 "[speechRecognition.py] Installation packages needed to run it correctly with Gstreamer 1.0 and a new setDictionary functionality by Yarp"
Actualizar documentación para poder ejecutar correctamente [speechRecognition.py](https://github.com/roboticslab-uc3m/teo-head/blob/develop/programs/speechRecognition/speechRecognition.py) (paquetes, librerias o programas necesarios a instalar para su correcta ejecución y pasos a seguir)

[2016-10-28 15:17] jgvictores commented on #42
I'd need a clean distro to know,  but I'd at least expect:

[code]

We also need the YARP python bindings (this could be added to the YARP section of teo-head) :

[code]

Then, there's lots of gstreamer stuff we need, a.k.a. gstreamerVERSION-plugins-good or similar and also pygst for python. Thing is, there's version 0.1 working on the teo-head PC, and there's 1.0 supported by most recent tutorial

[2016-10-28 15:18] jgvictores commented on #42
I've left some thoughts above,  but expect this is going to be an iterative process. Don't be afraid of posting long error logs!

[2016-10-28 16:47] rsantos88 commented on #42
Ok, voy a ir documentando los errores que voy encontrando:

[code]

[2016-10-28 16:57] rsantos88 commented on #42
Solución a lo anterior:

[2016-10-28 17:35] jgvictores commented on #42
1. `dbg` es versión debug... Antes de que cerremos la issue, se podría reemplazar por un paquete no debug.
2. Ten en cuenta que vas por el camino 0.1, no 1.0 :smiley:

[2016-11-01 13:57] rsantos88 commented on #42
Antes de portar speechRecognition.py a la nueva versión gstreamer 1.0, hay que hacer una correcta instalación de Pocketsphinx y Sphinxbase, la cual se documenta en [Using PocketSphinx with GStreamer and Python](http://cmusphinx.sourceforge.net/wiki/tutorialpocketsphinx) y en [Building application with pocketsphinx](http://cmusphinx.sourceforge.net/wiki/gstreamer#configuring_the_decoder_and_improvi

[2016-11-01 14:41] rsantos88 commented on #42
Tras intentar migrar la versión se speechRecognition.py a la nueva versión de GStreamer 1.0 (3f8303beb5c77abe98eeb1a78ed89049f583b44d),  salta el siguiente error:

[code]

[2016-11-01 16:08] jgvictores commented on #42
From the [Code listing](http://cmusphinx.sourceforge.net/wiki/gstreamer#code_listing) I can see that things have changed. Instead of:

[code]

It should be more like:

[code]

and then interpret and do whatever required like they do in the connected `element_message` function:

[code]

PS: Maybe we could still keep the `asr = self.pipeline.get_by_name('asr')` if it's still useful for setting the d

[2016-11-02 17:12] rsantos88 commented on #42
Migración realizada de gstreamer 0.10 a 1.0 (#44) en speechRecognition.py
Tras integrar los cambios para el cambio de diccionario y pasarle por el puerto rpc "setDictionary test", el programa rompe con el siguiente mensaje:

[code]

[2016-11-02 18:24] rsantos88 commented on #42
El problema se ha solucionado eventualmente con el uso de self en las respectivas variables (45a0273ef6ee812b5f4b049186dfc18f9153f707).
En cambio, a la hora de cambiar el diccionario, tira el siguiente error:

[code]

[2016-11-03 10:11] rsantos88 commented on #42
Tema resuelto (9d907d563aa7d5d090348042f574987dd02c1263).
 :tada: :tada: :tada: :tada:

[2016-11-03 14:33] rsantos88 commented on #42
Se ha realizado la actualización de la [documentación](https://github.com/roboticslab-uc3m/teo-head/blame/develop/doc/teo_head_install_on_ubuntu_15_04.md#L80-L124) para la correcta ejecución de speechRecognition.py con la nueva versión de gstreamer 1.0.
Se da por concluida esta issue :+1:

[2016-11-03 14:33] #42 closed, assigned to nobody

[2016-11-04 10:29] rsantos88 opened #46 "[speechRecognition.py] Error in Yarp Module Manager"
Actualmente, con la nueva versión de speechRecognition.py instalada en teo-head, el Yarp Module Manager no es capaz de realizar el arranque remoto del mismo, mostrando el siguiente error:
` [ERR]:   (teoBase_App) cannot run /sbin/runuser on /head : cannot run /sbin/runuser on /head`

[2016-11-04 11:27] rsantos88 commented on #32
Now, we have a [new version of speechRecognition](https://github.com/roboticslab-uc3m/teo-head/blob/develop/programs/speechRecognition/speechRecognition.py), able to change deferents dictionaries by yarp. I have just updated it with separated dictionaries (#47). For now, the dictionaries will be only in english for this reason (see [FAQ page](http://www.speech.cs.cmu.edu/tools/lmtool.html) of lmto

[2016-11-04 12:14] rsantos88 commented on #46
Pongo esta información por si pudiera ser de utilidad:
Al ejecutar en terminal los pasos que realizaría el xml del Yarp Manager:

[code]

Nos muestra el siguiente error:

[code]

[2016-11-05 11:21] jgvictores commented on #46
This link looks helpful: http://www.devsplanet.com/question/35931585
In case link ever dies, I'd highlight 'gst-inspect-1.0 pocketsphinx' (through `runuser` in our case), and the use of the environment variable `GST_PLUGIN_PATH`.

[2016-11-05 16:06] jgvictores commented on #32
The [newest version of lmtool](http://www.speech.cs.cmu.edu/tools/lmtool-new.html) does not say this any more. Its corresponding [FAQ now mentions a quicklm solution](http://www.speech.cs.cmu.edu/tools/FAQ.html#_Toc252644378).

[2016-11-07 10:07] rsantos88 commented on #46
Al ejecutar por terminal la linea `sudo runuser -l teo -c "gst-inspect-1.0 pocketsphinx"` obtenemos el siguiente resultado:

[code]

Este error era consecuencia de que no estaba especificada la ruta de gstreamer en `GST_PLUGIN_PATH`.
Una vez pasada la ruta al script `.bashrc`, el problema se solucionaba (ver [aqui](https://github.com/roboticslab-uc3m/teo-head/commit/6be6f63d309cde88a7d463750c4a17e

[2016-11-07 11:33] rsantos88 commented on #46
Tema resuelto (ver [commit](https://github.com/roboticslab-uc3m/teo-main/commit/bab6d27b522a8ecb61f3adc4752e2bae7f65dc4c) de teo-main)
Cierro esta issue :)

[2016-11-07 11:33] #46 closed, assigned to nobody

[2016-11-11 10:43] #38 closed, assigned to jgvictores, rsantos88

[2016-11-17 15:20] jgvictores opened #52 "Think about ViSP"
[vision] Think about ViSP: http://visp.inria.fr

[2016-11-25 15:50] jgvictores opened #53 "[HeadYarp] devices should be shared libraries"
[HeadYarp] devices should be shared libraries (same as roboticslab-uc3m/teo-body#51 )

[2016-12-21 12:14] rsantos88 commented on #32
Estoy intentando añadir en el directorio share/speechRecognition/conf los diferentes modelos acústicos (hmm), tanto para el inglés como para el español, además de incluir los respectivos diccionarios (.dict y .lm) que se usarán en las demos (ver [aquí](https://github.com/rsantos88/teo-head/tree/spanishLanguageModel/share/speechRecognition/conf)). Quisiera saber cuales son las modificaciones que ha

[2016-12-21 12:18] jgvictores commented on #32
Estoy bastante seguro que no hacen falta modificaciones. El CMakeLists al que señalas toma todo .ini, .lm, y .dic que esté dentro de la carpeta conf y los trata por igual (los pasa a contexts con cmake, y a /usr/local/..... con el sudo make install).

[2016-12-21 12:19] jgvictores commented on #32
Ah, vale, lo has separado por subcarpetas...

[2016-12-21 12:23] rsantos88 commented on #32
Eso es! Más ordenado para separar cada tipo de diccionario... aunque lo importante es separar los modelos acústicos de los diccionarios. Los modelos contienen diferentes tipos de ficheros, por eso imagino que hay que modificar el CMakeLists correctamente.

[2016-12-21 12:26] jgvictores commented on #32
[code]
O algo así, y así por cada carpeta final (lo que serian las hojas del arbol) donde hayan ficheros. Vamos, que 2 nuevas lineas por hoja de árbol. Bastante lioso, pero la idea es que hay que crear (replicar) la estructura completa del origen en el destino.
Por lo menos es el método que conozco yo. Si fuese una estructura de cientos de ramificaciones, se pensaría en algo más sofisticado de buc

[2016-12-21 22:30] rsantos88 commented on #32
Gracias. Funcionó bastante bien, quedando el fichero resultante de la [siguiente forma](https://github.com/rsantos88/teo-head/blob/spanishLanguageModel/share/speechRecognition/CMakeLists.txt).
Los ficheros se instalan correctamente en la ruta deseada. Ahora el siguiente problema a resolver es que YARP encuentre correctamente los ficheros en los subdirectorios que hemos creado a través de su resour

[2016-12-23 00:19] jgvictores commented on #32
1. En https://github.com/rsantos88/teo-head/blob/c01e737e8c6b5d23438e376753415fab8c18f215/share/speechRecognition/CMakeLists.txt#L23 sería `en-us` en lugar de `es-us`, ¿no?
2. Sería incluir las rutas, e.g. `follow-me-english.lm` -> `dictionary/follow-me/follow-me-english.lm` [aquí](https://github.com/rsantos88/teo-head/blob/c01e737e8c6b5d23438e376753415fab8c18f215/programs/speechRecognition/speech

[2017-01-18 11:22] rsantos88 commented on #32
Esta issue está concluida. Falta por documentar las instrucciones para ampliar las palabras que queramos reconocer. Para el inglés es sencillo,  haciendo uso de esta [herramienta](http://www.speech.cs.cmu.edu/tools/lmtool-new.html). Para el español, hay que seguir una serie de pasos que sería interesante documentar. @jgvictores, ¿dónde lo podríamos poner?

[2017-01-18 11:56] jgvictores commented on #32
Veo dos opciones, si quieres puedes empezar por la primera:
1. Crear fichero `teo-head-development-manual.md` en la carpeta `doc` y enlazarlo desde la sección Contributing del `README.md`.
1. Crear fichero `teo-head-development-manual.md` en un repositorio nuevo `teo-development-manual` y enlazarlo desde la sección Contributing del `README.md`.

[2017-01-24 10:00] jgvictores opened #58 "Update travis with eigen3"
Update travis with eigen3 for YARP

[2017-01-24 15:17] rsantos88 commented on #32
Añadido y enlazado el manual (e0b14e5e8a596daec225de2b5e89ceca3e8e3808).
Cierro issue!!

[2017-01-24 15:17] #32 closed, assigned to nobody

[2017-02-13 16:56] jgvictores commented on #53
This issue is regarding the Espeak device that was developed for #38 and is still on the `issue-38` branch.

[2017-02-14 10:01] #58 closed, assigned to jgvictores

[2017-02-14 10:47] smcdiaz commented on #31
Antes de haber hecho nada lo normal hubiera sido medir la temperatura y consultar las características de la cámara. From the manual:

The Flea2 is an ultra-compact camera. As a result of packing the Flea2 electronics into a small
space, the outer case of the camera can become very warm to the touch when running in some
high data rate video modes. The case can reach temperatures up to 45° Celsius u

[2017-02-25 11:21] jgvictores commented on #53
Done at https://github.com/roboticslab-uc3m/teo-head/pull/59 [ @rsantos88 thanks !! ]

[2017-02-25 11:21] #53 closed, assigned to rsantos88

[2017-03-02 15:25] jgvictores opened #60 "Imminent repo name change (teo-head -> vision)"
On Friday March 3rd 2017 evening, this repo will be renamed: teo-head -> vision

Related with https://github.com/roboticslab-uc3m/QA/issues/2 and https://github.com/orgs/roboticslab-uc3m/projects/2

As a consequence, the Espeak device will be moved to roboticslab-uc3m/yarp-devices (see https://github.com/roboticslab-uc3m/teo-body/issues/99 )

Cheers!

[2017-03-04 13:09] PeterBowman commented on #60
Renaming done. All references to the old location should redirect now to `vision`, including fetch/push operations. In order to update your remotes, see [Changing a remote's URL](https://help.github.com/articles/changing-a-remote-s-url/). I'd leave this issue open until every single reference in the organization has been updated accordingly: [search](https://github.com/search?q=org%3Aroboticslab-u

[2017-03-05 22:21] PeterBowman commented on #60
I've tracked down and replaced all (but one) occurrences of `teo-head` in the repos at our org. I didn't know how to proceed with this:

* [follow-me/doc/fig/editable/follow-me-app.graphml#L421](https://github.com/roboticslab-uc3m/follow-me/blob/c1ba54c/doc/fig/editable/follow-me-app.graphml#L421)

[2017-03-06 01:46] jgvictores commented on #60
[follow-me/doc/fig/editable/follow-me-app.graphml](https://github.com/roboticslab-uc3m/follow-me/blob/c1ba54c/doc/fig/editable/follow-me-app.graphml) is a [yEd](https://www.yworks.com/products/yed)-editable file from which [follow-me/doc/fig/follow-me-app.png](https://github.com/roboticslab-uc3m/follow-me/blob/c1ba54c3b61c999836419587aef5d1d5586dd2bd/doc/fig/follow-me-app.png) is generated. We are

[2017-04-09 18:26] jgvictores opened #63 "Fix compilation on travis-ci"
Fix compilation on travis-ci.

[2017-04-10 18:53] jgvictores commented on #63
Done at 89035dae8c6d442edf145dfa4d612226ec3d687b.

[2017-04-10 18:53] #63 closed, assigned to jgvictores

[2017-04-18 17:52] jgvictores commented on #60
Removed speech already at https://github.com/roboticslab-uc3m/speech at 680e9dd21e0cd83b0c6fa5da5a4bba6cdc725a2e.

[2017-04-22 12:46] jgvictores opened #64 "Remove big speech files from history"
As described in #60 and issues commented there, this repo is now only vision. I will proceed to try to strip this repo from old speech files (now in https://github.com/roboticslab-uc3m/speech) using https://rtyley.github.io/bfg-repo-cleaner/

Once done, it will be recommended to freshly clone this repo to avoid re-uploading the purged big files.

[2017-04-22 12:53] jgvictores commented on #60
1. I've started a new issue https://github.com/roboticslab-uc3m/follow-me/issues/33 regarding [comment](https://github.com/roboticslab-uc3m/vision/issues/60#issuecomment-284267998) by @PeterBowman :

2. Also related with the transition, I'll be working on #64: Remove big speech files from history

Closing and will work on individual issues.

[2017-04-22 12:53] #60 closed, assigned to jgvictores, PeterBowman

[2017-04-22 13:12] jgvictores commented on #64
[code]
Results in deleting (biggest was `es-20k.lm` at 66.5 MB):
[code]

[2017-04-22 14:06] jgvictores commented on #64
Getting feedback like:
[code]
Which are apparently harmless. However, a downloaded repo is apparently always 136.8M and has not gone down...

[2017-04-22 14:10] jgvictores commented on #64
Same with:
[code]
(which would at least catch the biggest unwanted files).

[2017-04-22 14:25] jgvictores commented on #64
Was able to do the per-file filtering, yay!

The key was in ([ref](https://rtyley.github.io/bfg-repo-cleaner/)):

So removed remaining files from `share` first, at 5bbaac6b7f0e449f3abb7ded2c4a97b3c292a37c, merged into `master` at f5e832bf5b49fc19a9fdd753564cfe466d9244c8. Done!

[2017-04-22 14:28] jgvictores commented on #64
PS: Please freshly clone this repo to avoid re-uploading the purged big files!!!

[2017-04-22 14:33] #11 closed, assigned to nobody

[2017-04-22 15:55] jgvictores commented on #5
This issue was moved to roboticslab-uc3m/speech#8

[2017-04-22 15:55] #5 closed, assigned to nobody

[2017-04-22 16:23] jgvictores opened #65 "Broken pointAtObjectServer"
`pointAtObjectServer`, recently imported from asibot-main, is broken. See current `import-pointAtObjectServer`branch.

[2017-04-22 16:33] jgvictores commented on #65
Error is:
[code]
Help at: http://www.vtk.org/Wiki/VTK/VTK_6_Migration/Replacement_of_SetInput

...which reminds us of: https://github.com/roboticslab-uc3m/QA/issues/7 and https://github.com/roboticslab-uc3m/QA/issues/14

[2017-05-01 19:19] jgvictores opened #66 "Must document pointAtObjectServer deps and versions"
- See commits for bw compat at 41723ae87990a8fe8c6d958d8b465d881932120d (fixes #65)
- Again involves https://github.com/roboticslab-uc3m/QA/issues/7 and https://github.com/roboticslab-uc3m/QA/issues/14
- Tiny extra twist is that the `#define` are actually for VTK, which is installed as a dependency of PCL.

[2017-05-01 19:19] jgvictores commented on #65
Fixed at 41723ae87990a8fe8c6d958d8b465d881932120d, opened #66 for documentation.

[2017-05-01 19:19] #65 closed, assigned to jgvictores

[2017-05-01 19:58] jgvictores commented on #66
Esentially done at 09d99acb61fe38efbe52d5cf468c093e7b90a007.

[2017-05-01 19:58] #66 closed, assigned to jgvictores

[2017-05-03 17:12] PeterBowman opened #67 "Extract and reuse TravisLib code"
Several code bits are already included in the `colorRegionDetection` program. Since travislib has a rather tiny code base, let's create a separate library here and eliminate that repo to avoid duplication and simplify builds.

[2017-05-03 17:37] jgvictores commented on #67
I think we can keep the [travislib repository](https://github.com/roboticslab-uc3m/travislib) for historical reasons and code such as [optical flow, etc](https://github.com/roboticslab-uc3m/travislib/blob/master/contrib/superseded/travisOriginal/travis.cpp).

Regarding the copies of `TravisLib.cpp` and `TravisLib.hpp` in this repo, perhaps they could be moved to `libraries` to promote code reuse.

[2017-05-05 13:46] jgvictores opened #68 "Think about grip"
Think about grip: http://wpilib.screenstepslive.com/s/4485/m/24194/l/463566-introduction-to-grip

[2017-05-05 13:56] jgvictores commented on #68
Java code https://github.com/WPIRoboticsProjects/GRIP

[2017-07-14 22:24] PeterBowman commented on #67
I guess that improvements on TravisLib would end up here (vision), and the travislib repo will remain mostly as it is.

[2017-07-15 12:03] PeterBowman opened #69 "Create common API for vision modules with client/server device pair"
Old [ColorClient library](https://github.com/roboticslab-uc3m/asibot-main/tree/c975cd5b6e049be9a59e1c11b807faefe51fee6f/src/libraries/ColorClientLib) from asibot-main repo might be a start, see also roboticslab-uc3m/asibot-main#28.

[2017-10-06 11:20] dpriver opened #70 "RGBDSensorClient (YARP) support for ROS topics still not implemented"
related: https://github.com/roboticslab-uc3m/tiago-main/issues/9#issuecomment-334727290

[2017-10-17 07:14] dpriver commented on #10
The links are down.
It would be really useful to include examples in the documentation.

[2017-10-17 10:08] PeterBowman commented on #10
@Kuronogard fixed (changed `dox-teo-head` to `dox-vision`).

[2017-10-25 08:00] jgvictores commented on #68
Related: https://github.com/asrob-uc3m/air-hockey/issues/5

[2017-11-29 22:29] jgvictores opened #73 "Think about template matching"
Think about template matching
https://github.com/vvv-school/tutorial_find-wally/blob/master/main.cpp

[2017-12-07 08:55] jgvictores commented on #73
There should be more advanced vision algorithms being used in TravisLib (intuition given old email conversations with @smorante).

[2017-12-17 15:40] PeterBowman opened #74 "Use yarp::dev::IVisualServoing in device implementations"
Scheduled for the YARP v2.3.72 release, this is the header file at current `devel`: [IVisualServoing.h](https://github.com/robotology/yarp/blob/6ad3d9c19b527f9d87450b41b3f8e5941a0b614d/src/libYARP_dev/include/yarp/dev/IVisualServoing.h).

Up to now, we've developed these visual servoing apps:

* [followMeHeadExecution@follow-me](https://github.com/roboticslab-uc3m/follow-me/tree/35aae0e507b1d49322

[2017-12-17 19:49] jgvictores commented on #74
That's interesting, hadn't seen that development!

[2018-01-18 23:38] PeterBowman commented on #7
Previously on (show name)...

* roboticslab-uc3m/kinematics-dynamics#14
* roboticslab-uc3m/yarp-devices#26
* roboticslab-uc3m/openrave-yarp-plugins#56

[2018-01-18 23:59] PeterBowman commented on #67
Done long ago at 3be1606.

OK!

[2018-01-18 23:59] #67 closed, assigned to PeterBowman

[2018-01-19 10:26] jgvictores commented on #67
Wow! Hadn't noticed that! Thanks a lot!

[2018-01-20 20:55] PeterBowman commented on #7
Done at cac6420.

[2018-01-20 20:55] #7 closed, assigned to PeterBowman

[2018-01-20 20:57] jgvictores commented on #7
@PeterBowman Thanks a lot! I'm (hopefully) going to be touching this repo quite a bit this week, so this comes at a very good moment!

[2018-01-24 22:39] jgvictores opened #75 "Rename visionSegmentor -> colorRegionDetection2D"
Rename visionSegmentor -> colorRegionDetection2D, updating port names, etc.

[2018-01-26 16:48] jgvictores commented on #75
WIP at `fix-75-colorRegionDetection2D` branch.

[2018-01-26 16:48] jgvictores commented on #31
This issue was moved to roboticslab-uc3m/teo-hardware-issues#8

[2018-01-26 16:48] #31 closed, assigned to smcdiaz, jmgarciah

[2018-01-26 16:53] jgvictores commented on #33
This issue was moved to roboticslab-uc3m/teo-hardware-issues#9

[2018-01-26 16:53] #33 closed, assigned to nobody

[2018-01-26 17:44] jgvictores commented on #75
Done at e7090f10404ca43abe27992c131d36db1d009d04.

[2018-01-26 17:44] #75 closed, assigned to jgvictores

[2018-01-30 08:20] jgvictores opened #77 "Work on haar"
In private repo issue https://github.com/roboticslab-uc3m/tiago-main/issues/9 there were attempts to train haar:

The objective of this issue is to track down what went wrong, and develop documentation of what made it work if it turns out to be feasible via haar.

[2018-01-31 09:50] jgvictores opened #78 "Set pointAtObjectServer ON, and if PCL is not found, show warning and disable"
As a followup of 887d5e4aa4494d7c0c69168bfcaa428f82398f7c, beter to have pointAtObjectServer ON, and if PCL is not found, show warning and disable.

[2018-01-31 11:19] jgvictores commented on #78
Related: https://github.com/roboticslab-uc3m/questions-and-answers/issues/18#issuecomment-361898108

Also see: https://github.com/roboticslab-uc3m/kinematics-dynamics/issues/138#issuecomment-361898436

[2018-02-03 14:24] jgvictores commented on #78
Help at! https://github.com/roboticslab-uc3m/questions-and-answers/issues/18#issuecomment-362724497

[2018-02-09 19:29] jgvictores opened #79 "Merge haarDetection2D+colorRegionDetection2D programs"
Merge haarDetection2D+colorRegionDetection2D programs

[2018-02-13 15:35] jgvictores opened #80 "Drop multipleDump, recommend yarpdatadumper"
Drop `multipleDump`, recommend yarpdatadumper as documented [here](https://github.com/roboticslab-uc3m/developer-manual/blob/01870d8509ad006279e07d38a6f28bd3dc0b5f51/frequently-asked-questions.md#how-can-i-record-data-for-programming-by-demonstration-pbd-aka-learning-from-demonstration-lfd).

`multipleDump` was a very ad-hoc program for `xgnitive`. Code such as the following should can be done in

[2018-02-13 15:39] jgvictores commented on #80
Done at d3084485f0eec11b660f54ebb628f4c68915a6e0.

[2018-02-13 15:39] #80 closed, assigned to jgvictores

[2018-02-13 15:40] jgvictores commented on #11
Update: multipleDump deleted, see #80

[2018-02-13 15:41] jgvictores commented on #11
Note: old issue, when this repo was teo-head and also included speech (now at https://github.com/roboticslab-uc3m/speech).

[2018-02-19 11:57] davidvelascogarcia commented on #77
Note: our haar `xml` files are currently stored at https://github.com/roboticslab-uc3m/vision/tree/develop/share/haarDetection/conf

[2018-02-19 12:05] davidvelascogarcia commented on #77
WIP at https://github.com/roboticslab-uc3m/vision/tree/issue-77-haar/share/haarDetection/conf

[2018-02-20 15:47] jmgarciah opened #81 "Missing libtiff4-dev package on Ubuntu 16.04 (needed by OpenCV3)"
when you want to install on 16.04, it is not detected.

$ sudo apt-get install libtiff4-dev

could it be a possible solution the lib "libtiff5-dev" ¿?¿?

[2018-02-20 16:08] PeterBowman commented on #81
Our guides ([ref](https://github.com/roboticslab-uc3m/installation-guides/blob/349a48be4b9768089901eeb97d85264e239c123f/install-opencv.md#install-opencv-3-with-contrib-and-python-3-support)) state that `libtiff4-dev` is needed, but, as you pointed out, there is no such package on Xenial. On the other hand, `libtiff5-dev` is available from Trusty onwards:

* https://packages.ubuntu.com/search?keywo

[2018-02-20 21:44] jgvictores commented on #81
@jmgarciah Hi! Thanks for pointing this out!

@jmgarciah Yes, that is a possible solution!

@PeterBowman Great finding, thanks! I've updated at https://github.com/roboticslab-uc3m/installation-guides/commit/57cd9733c80312a262fd8b8d7b71fd10a95b999a to provide this more portable solution.

@jmgarciah Feel free to close this issue if you got things working on the libtiff side!

[2018-02-21 09:42] jmgarciah commented on #81
thx to @PeterBowman and @jgvictores

[2018-02-21 09:42] #81 closed, assigned to nobody

[2018-02-22 19:00] jmgarciah opened #82 "colorRegionDetection2D: ‘vector’ was not declared in this scope"
[code]

[2018-02-22 19:22] jmgarciah commented on #82
sorry, the namespaces 'cv' and 'std' are not include.

If you add in SegmentorThread.cpp, the problem is solved.

[2018-02-22 19:24] PeterBowman commented on #82
Yeah, but this is a mess anyway... I'm going to apply https://github.com/roboticslab-uc3m/developer-manual/issues/19 here and review namespaces, too.

[2018-02-22 19:47] PeterBowman commented on #82
@jmgarciah namespace directive added at dbd4916 and merged into develop, please check and close the issue if solved. I'll keep looking for unresolved or non-explicit #include's.

[2018-02-24 15:31] PeterBowman opened #83 "Drop old OpenNI2 interfaces, adopt IRGBDSensor"
YARP devel has discontinued support for several devices, affecting Kinect/OpenNI2 devices currently used in this repo. This means that the `yarp/dev/IOpenNI2DeviceDriver.h` header (as well as `yarp/dev/IKinectDeviceDriver.h`, by the way) is no longer installed: [YARP v3.0.0 Release Notes (unreleased)](https://github.com/robotology/yarp/blob/3136ec4854cda8426827f5b4f39bfd1eaad65d5d/doc/release/v3_0

[2018-02-24 16:28] #78 closed, assigned to PeterBowman

[2018-02-24 16:29] PeterBowman commented on #78
Applied https://github.com/roboticslab-uc3m/questions-and-answers/issues/18 at cf66378.

[2018-02-25 19:55] jgvictores commented on #78
@PeterBowman Thanks a lot!!

[2018-02-25 20:11] jgvictores commented on #83
Yes, this is definitively something we'll have to cope with. No libs for now, just a couple of programs. Transition should not be difficult.

[2018-02-26 12:23] PeterBowman commented on #82
OK, I guess it's done. Closing.

[2018-02-26 12:23] #82 closed, assigned to PeterBowman

[2018-03-20 17:27] FernandoM93 opened #84 "Compiling error when importing freenect on Python"
I'm trying to use the Kinect camera with python. I have installed "Python 3.6.4 :: Anaconda, Inc.", and OpenKinect.
OpenKinect was installed following the next tutorial:
https://openkinect.org/wiki/Getting_Started#Ubuntu.2FDebian
OpenKinect seems to be working well because when i run freenect-glview, it works perfectly (including motors, leds, etc).
The problem comes when i try to run a program in

[2018-03-20 20:12] PeterBowman commented on #83
Raising priority. According to https://github.com/robotology/yarp/projects/6, we should solve this before 2018-05-12.

[2018-03-21 15:00] jgvictores commented on #84
The setup we are supporting for is via YARP as documented [here](https://github.com/roboticslab-uc3m/installation-guides/blob/master/install-yarp.md#install-additional-yarp-device-openni2deviceserver-ubuntu). You can then get Python bindings as documented [here](https://github.com/roboticslab-uc3m/installation-guides/blob/master/install-yarp.md#install-python-bindings).

1. If you have any issue w

[2018-03-21 15:00] #84 closed, assigned to nobody

[2018-04-11 17:12] PeterBowman commented on #83
WIP at 0099fd1, testing on Kinect v1 and v2, compiles at latest YARP devel ([CI build](https://travis-ci.org/roboticslab-uc3m/vision/builds/365216998)). Problem: YARP throws a `Trying to allocate an invalid pixel type image` and makes the program quit ([ref](https://github.com/robotology/yarp/blob/245690a2bb2b371a81efe0da2f9dbbd9f34e53b2/src/libYARP_sig/src/Image.cpp#L338-L342)) upon calling `IRGB

[2018-04-11 17:18] jgvictores commented on #83
I'd add a `colorFrame.setPixelCode(VOCAB_PIXEL_RGB);` immediately after https://github.com/roboticslab-uc3m/vision/blob/0099fd11d24a0ee8adf4c95c94d6c6059b9d2b42/programs/colorRegionDetection/SegmentorThread.cpp#L143

[2018-04-11 17:19] jgvictores commented on #83
((did some similar stuff around https://github.com/roboticslab-uc3m/openrave-yarp-plugins/commit/f72ff821f102cd562242b2864e5a301e231a4094#diff-203b1994e1821fea53f07aea4e9df0eb))

[2018-04-11 17:28] PeterBowman commented on #83
Did that, didn't help.

Edit: I'll try the `copy` thing, although it looks like a suboptimal solution.

[2018-04-13 10:36] PeterBowman commented on #83
Fixed by applying a small delay prior to starting the segmentor thread: https://github.com/roboticslab-uc3m/vision/commit/0417b4055d7ae7c4e1db702189955f0f1465ab92. Unfortunately, [`IRGBDSensor::getSensorStatus`](http://www.yarp.it/classyarp_1_1dev_1_1IRGBDSensor.html#ababe6dc59f59ef9db2f896ce4581030f) is of no help here, it keeps returning [`RGBD_SENSOR_OK_IN_USE`](http://www.yarp.it/classyarp_1_1

[2018-04-13 10:41] jgvictores commented on #83
I'd also look into why status is returning OK. It's probably referring to the yarp connection status, but it should definitely check if correctly formed frames are available.

[2018-04-13 10:49] PeterBowman commented on #83
Nope, it's strictly bound to the device layer, not to the network wrapper. All it does is check device and stream readiness for publishing data (even if malformed): [ref](http://www.yarp.it/depthCameraDriver_8cpp_source.html#l01066).

[2018-04-13 12:04] PeterBowman opened #85 "Depth frames don't scale well on Kinect v2 devices"
While testing #83, I've been playing around a bit with Kinect v1/v2. These are the frame resolutions as reported by the debugger:

| frame | Kinect v1  | Kinect v2 |
| ------------- | ------------- | ------------- |
| RGB  | 640x480  | 1920x1080  |
| depth  | 640x480  | 640x480  |

Sadly, the *colorRegionDetection* app is not prepared for working with unbalanced frame resolutions and keeps throwin

[2018-04-14 10:04] jgvictores commented on #85
General statements, also informative for #86:
- In the deprecated OpenNI2 device, we had `--printVideoModes` to see both RGB and Depth modes. Modes set resolution and framerate, and may vary among device and even firmware.
- For TEO, we fixed the RGB and Depth mode parameters for the specific sensor+firmware so resolution would match: https://github.com/roboticslab-uc3m/teo-configuration-files/blo

[2018-04-14 10:12] jgvictores commented on #83
Hack 0417b4055d7ae7c4e1db702189955f0f1465ab92 is pretty ugly/dangerous. Could we add an `upstream` label here?

[2018-04-16 12:56] davidvelascogarcia commented on #70
https://github.com/robotology/yarp/blob/b806be8c6c3c6e67190e8ec1e428cf3e9e1c2b64/src/libYARP_dev/src/devices/RGBDSensorClient/RGBDSensorClient.cpp#L291-L299

[2018-04-16 13:02] PeterBowman commented on #70
Server support is already there ([ref](https://github.com/robotology/yarp/blob/b45be5e9c36f3b3b75a57492a4e4982a5fa762fc/src/libYARP_dev/src/devices/RGBDSensorWrapper/RGBDSensorWrapper.cpp#L480-L506)), perhaps the client implementation would not be that hard. Adding *upstream* label.

[2018-04-16 13:04] jgvictores commented on #70
Yes, we are thinking of a PR at some point. :+1:

[2018-04-20 09:46] davidvelascogarcia commented on #70
https://github.com/roboticslab-uc3m/vision/compare/ROSInputTopics

[2018-04-20 11:50] PeterBowman commented on #83
Addendum: review and update .ini files across robot repos (&lt;robot&gt;-configuration-files).

[2018-04-20 12:55] PeterBowman commented on #70
Hm, just to keep track of what is going on here: does this task refer to missing ROS support in RGBDSensorClient (as I assumed based on previous comments, hence the label), or is it more focused on **local** devices/apps, such as Dennis's work on *haarDetection*?

@davidvelascogarcia there are several auto-generated files in your current branch that do not belong to version control, namely `*.pro`

[2018-04-20 13:37] dpriver commented on #70
This is about missing ROS support in RGBDSensorClient.

My work on haarDetection and colorRegionDetection was actually a
workaround to receive images directly from ROS topics, not from local
devices. The idea was to deprecate them in favour of RGBDSensorClient
when they implement the ROS support (or implement it ourselves).

Sorry if it was not clear enough.

On 04/20/2018 02:55 PM, Bartek Łukawsk

[2018-04-20 15:04] PeterBowman commented on #83
Also: review WIP branches (e.g. [ROSInputTopics](https://github.com/roboticslab-uc3m/vision/compare/ROSInputTopics)) per https://github.com/roboticslab-uc3m/vision/issues/70#issuecomment-383098270.

[2018-04-23 08:38] davidvelascogarcia commented on #70
@PeterBowman You´re right. It´s temporal while i´m trying to develop the code. I´m doing tests and using  the branch, git and github like a backup sorry.

[2018-04-23 10:58] PeterBowman commented on #70
No problem, just noting that this branch would require some serious history rewriting prior to any merge into develop. Anyway, since this seems to be a project of yours, have you considered working with a fork?

[2018-05-17 08:06] jgvictores commented on #46
This issue was moved to roboticslab-uc3m/speech#26

[2018-05-18 20:43] PeterBowman commented on #83
Note: installation of *depthCamera* is broken at YARP 2.3.72 (and probably at 2.3.70.x, too). Did work at 2.3.68.x, fixed upstream at 2.3.72.1 (unreleased, see https://github.com/robotology/yarp/pull/1633). Workaround: do `cmake . -DYARP_HAS_OpenNI2=ON` and configure again.

[2018-05-19 14:23] jgvictores commented on #83
Added comment at https://github.com/roboticslab-uc3m/installation-guides/commit/b355edbf73964cc045e79e1a22673e000404c0ff.

[2018-05-31 10:42] jgvictores commented on #70
Priority lowered and unassigned, focus will be on:
- https://github.com/orgs/roboticslab-uc3m/projects/7?card_filter_query=label%3A%22priority%3A+high%22
- https://github.com/orgs/roboticslab-uc3m/projects/7?card_filter_query=label%3A%22status%3A+in+progress%22

[2018-06-07 17:50] PeterBowman commented on #74
Upstream docs: http://www.yarp.it/git-master/classyarp_1_1dev_1_1IVisualServoing.html.

[2018-06-17 19:46] PeterBowman opened #87 "Review included headers and dependencies"
As a follow-up to https://github.com/roboticslab-uc3m/vision/issues/82 (and keeping https://github.com/roboticslab-uc3m/developer-manual/issues/19 in mind), I'd like to review all included headers. Ideally, this would lead to an improved granularity concerning required dependencies and dependency modules, especially the OpenCV's ones (see also https://github.com/roboticslab-uc3m/questions-and-answ

[2018-06-17 20:43] PeterBowman commented on #87
Note: check if https://github.com/roboticslab-uc3m/vision/issues/79 could be closed before this one (avoid duplicating efforts).

[2018-10-27 11:31] PeterBowman commented on #6
In asrob-uc3m/robotDevastation, we adopted a well-established abandonware library, ZBar: [ref, look for the `ProcessorImageEventListener` class](https://github.com/asrob-uc3m/robotDevastation/tree/5b4a0e81c17f4ba5fb6cd2557a422c2c44338dbd/src/libraries/ImageLib). We also host the Windows 64-bit binaries: https://github.com/asrob-uc3m/ZBar.

[2018-10-27 11:46] PeterBowman commented on #74
See also:

* ~~https://github.com/roboticslab-uc3m/legacy-matlab-visual-servo~~ (see above, description updated)
* https://github.com/roboticslab-uc3m/follow-me/issues/34#issuecomment-433612540

[2018-10-27 11:50] PeterBowman commented on #52
We have some info related to visual servoing scattered around, see:

* https://github.com/roboticslab-uc3m/vision/issues/74
* https://github.com/roboticslab-uc3m/legacy-matlab-visual-servo
* https://github.com/roboticslab-uc3m/follow-me/issues/34#issuecomment-433612540

[2018-10-31 17:52] #83 closed, assigned to PeterBowman

[2018-11-02 12:42] PeterBowman opened #88 "Remove or mitigate delay hack in depth-frame apps"
PR https://github.com/roboticslab-uc3m/vision/pull/86 introduced a somewhat ugly delay hack on device initialization: https://github.com/roboticslab-uc3m/vision/commit/0417b4055d7ae7c4e1db702189955f0f1465ab92.

The following comments from https://github.com/roboticslab-uc3m/vision/issues/83 will shed more light on this:

[2018-11-02 12:52] PeterBowman commented on #85
See also https://github.com/roboticslab-uc3m/vision/pull/86#issuecomment-381318636.

[2018-11-02 12:57] PeterBowman opened #89 "Further improvements on yarp::dev::IRGBDSensor"
I left some ideas in https://github.com/roboticslab-uc3m/vision/pull/86 for further development and enhancement of the current depth-frame apps. Since that PR was aimed to solve a bug, I have split the underlying low-priority tasks into this issue:

- ~~we no longer create the RGBD device locally, a client device is opened instead (current default: *RGBDSensorClient*) and connects to the correspon

[2018-11-07 10:37] jgvictores commented on #77
Entiendo que esto es un duplicado de #77. @davidvelascogarcia ¿Ok cerrar issue y eliminar rama, seguro que no se nos pierde ningún fichero?

[2018-11-07 11:07] davidvelascogarcia commented on #77
Sí, #77 es un duplicado de la branch [tiago-vision](https://github.com/roboticslab-uc3m/vision/tree/tiago-vision) del [pull request](https://github.com/roboticslab-uc3m/vision/pull/90). Se pueden borrar sin problema y cerrar la branch [issue-77](https://github.com/roboticslab-uc3m/vision/tree/issue-77-haar) e issue #77. Todos los cambios que se realizaron en [issue-77](https://github.com/roboticsl

[2018-11-07 13:12] jgvictores commented on #77
Cerrando!

[2018-11-07 13:12] #77 closed, assigned to davidvelascogarcia

[2018-11-16 15:24] jgvictores opened #91 "Add HAAR training dataset files to Google Drive folder"
As a followup of #90, current https://github.com/roboticslab-uc3m/vision/blob/1fe57713d2e839769cb601f0ed007424588135b6/share/haarDetection/conf/README.md points at https://drive.google.com/drive/folders/1gYGtfsKGi0_505JAHBiivdGd9Exue57F?usp=sharing which currently has the correct folder structure, but is lacking the contents (files).

Task: Add HAAR training dataset files to Google Drive folder.

[2018-11-20 11:00] davidvelascogarcia commented on #91
All the files that I have been able to recover have been uploaded to the [Google Drive folder](https://drive.google.com/drive/folders/1gYGtfsKGi0_505JAHBiivdGd9Exue57F?usp=sharing).

[2018-11-20 11:51] jgvictores commented on #91
Great, thanks!

[2018-11-20 11:51] #91 closed, assigned to davidvelascogarcia

[2018-12-12 01:45] jgvictores commented on #68
Add description in README at 7086718. Closing due to inactivity.

[2018-12-12 01:45] #68 closed, assigned to nobody

[2018-12-12 11:40] jgvictores opened #92 "Develop c++ tensorflow detector module"
Develop c++ tensorflowDetection2D module, similar to `colorRegionDetection2D` and `haarDetection2D`. Default to VGG16 using pre-trained weights on ImageNet.

[2018-12-12 17:00] David-Estevez commented on #68
I did try GRIP for a few things (ASROB and Horus)... do you have any doubts that I might be able to solve? It's a pity when a poor issue is closed due to inactivity :sweat_smile:

[2018-12-12 17:08] jgvictores commented on #68
All is fine. I've also used GRIP for a few personal projects, and it's great!

I'm just trying to close all these eternal "think about" issues. I'll document this new "think about" workflow at https://github.com/roboticslab-uc3m/developer-manual once it's more stable! :smile:

It's referenced at https://github.com/roboticslab-uc3m/vision/blob/develop/README.md#similar-and-related-projects Please e

[2019-01-08 19:33] davidvelascogarcia commented on #92
He estado probando la API en C++, realizando algunos ejemplos de [Tensorflow C++ API](https://www.tensorflow.org/guide/extend/cc), en el repositiorio [Tensorflow CPP Examples](https://github.com/davidvelascogarcia/tensorflow-cpp-examples), pero han dado algunos problemas las librerías. Era capaz de encontrar las librerías, podía declarar correctamente espacio nombres, instanciar objetos de la clas

[2019-01-08 20:22] PeterBowman commented on #92
Please check [How to activate C++ 11 in CMake? (SO)](https://stackoverflow.com/q/10851247). Anyway, if you read the [C++ guide](https://www.tensorflow.org/guide/extend/cc) carefully:

Moreover:

Have you tried this Bazel thing? From https://github.com/tensorflow/tensorflow/issues/13705#issuecomment-338633212:

It looks like there is a workaround for this build system of theirs, though, which means

[2019-01-09 12:56] davidvelascogarcia commented on #92
@PeterBowman Thanks, i am going to try it. Maybe the problem is that i am not using Bazel. I am using the libraries directly.

[2019-01-13 18:23] davidvelascogarcia commented on #92
I´m having problems with the installation of tensorflow. I have tried installing `bazel` and using the [guide](https://www.tensorflow.org/guide/extend/cc) to compile with `bazel` and i get the next error:

[code]

Also i have tried with the remove native:

[code]

[2019-01-13 18:32] jgvictores commented on #92
I'm not a big fan of the whole `bazel`+`your code has to be inside the Tensorflow repo` deal.

@davidvelascogarcia maybe you could check the [cmake alternative](https://github.com/PatWie/tensorflow-cmake) as commented by @PeterBowman above?

[2019-01-13 18:33] jgvictores commented on #92
@davidvelascogarcia PS: also see comment above on using `find_package(TensorFlow)` and avoiding hard-coded paths.

[2019-01-14 09:42] jgvictores commented on #92
PS: I also find the C API quite interesting.

[2019-01-25 09:58] davidvelascogarcia commented on #92
@jgvictores @PeterBowman Thanks, right now i can find *Tensorflow* libraries with cmake and without using bazel, but i have a problem looking for *libtensorflow_cc.so*

[code]

**CMakeLists:**
[code]

[2019-01-25 12:36] davidvelascogarcia commented on #92
I`m trying to use bazel to make the TensorFlow package builder with CPU-only support. After 8553 elements get the next error:

[code]

[2019-01-25 13:02] PeterBowman commented on #92
Try https://stackoverflow.com/q/26828206.

[2019-01-25 14:07] PeterBowman commented on #92
You'll probably have to build TensorFlow from source to get the C++ backend, see https://stackoverflow.com/a/33622489. The [FloopCZ/tensorflow_cc](https://github.com/FloopCZ/tensorflow_cc) project looks a bit more promising than the one I linked to in my earlier posts.

[2019-01-25 14:19] jgvictores commented on #92
1) Better to put such issues on https://github.com/roboticslab-uc3m/installation-guides so we can improve https://github.com/roboticslab-uc3m/installation-guides/blob/master/install-tensorflow.md rendered at http://robots.uc3m.es/gitbook-installation-guides/install-tensorflow.html
2) Better comments in English rather than Spanish
3) For the specific error, please use the `apt` command suggested at

[2019-01-28 14:37] davidvelascogarcia commented on #92
@PeterBowman Thanks, I´m trying to use [FloopCZ/tensorflow_cc](https://github.com/FloopCZ/tensorflow_cc) project. Using `cmake`  it´s more intuitive.
@jgvictores Thanks, it solved the problem.

Do i open issue on [installation-guides](https://github.com/roboticslab-uc3m/installation-guides)?
Using [FloopCZ/tensorflow_cc](https://github.com/FloopCZ/tensorflow_cc) project i can build but i get the e

[2019-01-28 14:47] jgvictores commented on #92
1. `Thanks, it solved the problem.` > No new issue for `installation-guides`>`tensorflow`
2. `Using FloopCZ/tensorflow_cc project i can build but i get the error line 18 not founded at the end.` > new issue at https://github.com/roboticslab-uc3m/installation-guides/issues specifying tensorflow_cc in subject (guidelines [HERE](http://robots.uc3m.es/gitbook-developer-manual/best-practices-github.htm

[2019-02-12 11:13] davidvelascogarcia commented on #92
P.R done at [tensorflowDetection2D](https://github.com/roboticslab-uc3m/vision/pull/93) #93.

[2019-04-10 13:20] jgvictores commented on #92
Some places where we've done conversions:
- https://github.com/roboticslab-uc3m/openrave-yarp-plugins/blob/420d2bca11a91a34cb4e30374f6fbd730815c1ef/libraries/YarpPlugins/YarpOpenraveRGBDSensor/IRGBDSensorImpl.cpp#L59
- https://github.com/roboticslab-uc3m/openrave-yarp-plugins/blob/420d2bca11a91a34cb4e30374f6fbd730815c1ef/libraries/YarpPlugins/YarpOpenraveGrabber/IFrameGrabberImageImpl.cpp#L30-L50

[2019-04-10 13:35] davidvelascogarcia commented on #92
@jgvictores Thanks

[2019-04-22 16:25] PeterBowman commented on #85
Affects:

https://github.com/roboticslab-uc3m/vision/blob/834c33c1f0795dcd536853949a041c84490d29a7/programs/colorRegionDetection/SegmentorThread.cpp#L238

https://github.com/roboticslab-uc3m/vision/blob/834c33c1f0795dcd536853949a041c84490d29a7/programs/haarDetection/SegmentorThread.cpp#L130-L132

And then:

https://github.com/roboticslab-uc3m/vision/blob/834c33c1f0795dcd536853949a041c84490d29a7/pr

[2019-04-22 23:15] PeterBowman commented on #85
A pair of pixels yields no information about the source frame, we are actually specifying a ratio (coordinates in a frame of unknown size) and that's just half the information needed to reconstruct an XY position. I'd rather tamper with the protocol and require another two elements in the incoming bottles, holding the source frame's width and height, respectively.

[2019-04-25 11:31] PeterBowman commented on #85
Can't test this on a realsense2 device - depth resolution is enforced to match the RGB resolution.

[2019-04-25 11:33] jgvictores commented on #85
Would an Asus Xtion Pro Live be helpful?

[2019-04-29 13:30] davidvelascogarcia commented on #92
Attached: Detection example picture.

![imagen](https://user-images.githubusercontent.com/29423648/56899307-6e9c8900-6a93-11e9-82e3-184a4e6f8855.png)

Figure 1. Detection example picture

[2019-05-05 11:06] PeterBowman commented on #85
...unless `needAlignment` is set to `false`, see [docs](http://www.yarp.it/classyarp_1_1dev_1_1realsense2Driver.html).

[2019-05-05 11:07] #85 closed, assigned to PeterBowman

[2019-05-09 15:04] jgvictores commented on #74
Added [robotology/visual-tracking-control](https://github.com/robotology/visual-tracking-control) (https://robotology.github.io/visual-tracking-control) at new section in README at https://github.com/roboticslab-uc3m/vision/commit/f2bb1e9001738061ea2ff2f12a4a1b9a68149f5a.

Interestingly, https://robotology.github.io/visual-tracking-control/doxygen/doc/html/modules.html has `hand-tracking`, `visual

[2019-06-03 15:24] PeterBowman opened #94 "Update RGBD camera config files"
PR https://github.com/robotology/yarp/pull/1960 added a new **required** `physFocalLength` parameter to groups `RGB_INTRINSIC_PARAMETERS` and `DEPTH_INTRINSIC_PARAMETERS`. We should update [*share/sensors/conf/asus-xtion.ini*](https://github.com/roboticslab-uc3m/vision/blob/c1643e5c9532ecfda3797079d525d8439885ae40/share/sensors/conf/asus-xtion.ini). Featured in YARP 3.2.0.

[2019-06-12 15:15] PeterBowman commented on #89
Asus Xtion Pro Live's intrinsic params, for traceability: https://web.archive.org/web/20150524152748/https://web.stanford.edu/~qianyizh/projects/scenedata.html.

[2019-06-13 14:52] PeterBowman commented on #89
ASWJ, we can still achieve this behavior, no changes required:

* `colorRegionDetection [--RGBDDevice RGBDSensorClient] [--RGBDLocal /colorRegionDetection] --RGBDRemote /xtion` launches the RGBD client device, square braquets mean optional parameter

* `colorRegionDetection --context sensors --from asus-xtion.ini --RGBDDevice depthCamera` instantiates the Asus Xtion camera locally, no network wrap

[2019-06-13 15:17] PeterBowman commented on #89
Along with a cleanup of `/share` at https://github.com/roboticslab-uc3m/vision/commit/190094c01ce281aaa58c44090917de04345aad60, this issue is now resolved.

[2019-06-13 15:17] #89 closed, assigned to PeterBowman

[2019-06-13 15:40] PeterBowman commented on #10
The original requests have been fulfilled, docs may be always improved thereafter - hence closing.

[2019-06-13 15:40] #10 closed, assigned to rsantos88

[2019-06-15 10:55] PeterBowman commented on #94
The `EXTRINSIC_PARAMETERS` group is optional, hence could be removed if not used. Note to self: reference current ASUS Xtion values ([link](https://web.archive.org/web/20150524152748/https://web.stanford.edu/~qianyizh/projects/scenedata.html)) in the .ini file.

[2019-06-15 11:14] PeterBowman commented on #94
Currently missing specs (ASUS Xtion Pro Live, [ref](https://www.asus.com/3D-Sensor/Xtion_PRO_LIVE/specifications/)):

* FOV: 58° H, 45° V, 70° D (Horizontal, Vertical, Diagonal) -> `depth_Fov` (also `rgb_Fov`?), only horizontal and vertical
* Distance: Between 0.8m and 3.5m -> `clipPlanes`

[2019-06-15 11:25] PeterBowman commented on #94
Sensor transform and depth accuracy estimations for Kinect 1, Kinect 2 and ASUS Xtion Pro Live: Filippo Basso, Emanuele Menegatti, and Alberto Pretto, "Robust Intrinsic and Extrinsic Calibration of RGB-D Cameras", 2018 ([arxiv](https://arxiv.org/pdf/1701.05748.pdf)).

[2019-06-15 11:28] PeterBowman commented on #94
Kinect 1 & Kinect 2 resolution, FOV and depth distance (thanks, @jgagom; https://github.com/roboticslab-uc3m/sign-language-papers/issues/19#issuecomment-479110680):

![55423118-89a3d800-557d-11e9-8f69-f6826ce8e9f9](https://user-images.githubusercontent.com/9977198/59550894-531d0d00-8f71-11e9-83fc-da83ff01c3bf.png)

[2019-06-15 11:36] PeterBowman commented on #94
Kinect intrinsics (includes distortion params) and extrinsic transform ([ref](https://www.mrpt.org/tutorials/programming/miscellaneous/kinect-calibration/)):

[code]

I guess this is the Kinect 1 sensor, but given resolution values look suspicious.

[2019-06-15 11:43] PeterBowman commented on #94
Even moar params for both Kinects at Diana Pagliari and Livio Pinto, "Calibration of Kinect for Xbox One and Comparison between the Two Generations of Microsoft Sensors", 2015 ([full text](https://github.com/roboticslab-uc3m/vision/files/3293054/sensors-15-27569.pdf)): resolution, distance, FOV, intrinsics (given in millimeters and pixels)...

[2019-06-28 16:47] PeterBowman opened #95 "Adopt yarp::cv:: utilities for cv::Mat <-> yarp::sig::Image conversions"
The YARP_cv component was introduced in YARP v3.2.x. Available helpers: `yarp::cv::toCvMat` and `yarp::cv::fromCvMat` ([ref](https://github.com/robotology/yarp/blob/48613af088ab5b3c41ddd6def6afaea0dd179b20/src/libYARP_cv/include/yarp/cv/Cv.h)).

It would be nice to avoid unnecessary `IplImage` wrappers and explicit BGR<->RGB conversions. See https://github.com/roboticslab-uc3m/vision/commit/d2fdc9

[2019-07-09 09:59] RaulFdzbis opened #96 "asus-xtion: "Warning: USB events thread - failed to set priority""
Running asus xtion in bionic ubuntu (18.04) gives the following output:

[code]

The following **Warning** :

[code]

Can be fixed running yarpdev with root following this [solution](https://codeyarns.com/2015/08/05/openni-usb-thread-priority-warning/). Given following output.

[code]

[2019-07-09 10:00] #96 closed, assigned to nobody

[2019-07-10 10:25] jgvictores commented on #96
Wouldn't it be better to set udev rules as in https://github.com/roboticslab-uc3m/amor-configuration-files/issues/2 ?

[2019-07-29 09:10] jgvictores commented on #64
Seems like these files are present. Reopening for revision.

[2019-07-29 10:08] PeterBowman commented on #64
It doesn't look like history has been ever rewritten in this repo, or at least not with the BFG tool. Commits previous to april, 22th (2017) do not contain hashes that do show up in other repos with rewritten commits, e.g. kinematics-dynamics (see https://github.com/roboticslab-uc3m/kinematics-dynamics/commit/fbb09f1065be580295a3514cf5ad3b27bad06efb).

[2019-09-25 11:04] davidvelascogarcia commented on #92
Merge done at [vision](https://github.com/roboticslab-uc3m/vision), [PR 93](https://github.com/roboticslab-uc3m/vision/pull/93).
Should we close the issue?

[2019-09-25 11:38] PeterBowman opened #97 "Continuous integration and tensorflow_cc"
PR https://github.com/roboticslab-uc3m/vision/pull/93 lacked CI support on Travis due to build timeouts (https://github.com/roboticslab-uc3m/vision/pull/93#issuecomment-465135839), it takes way too long to compile this beast from sources.

Perhaps this is the perfect scenario for docker (https://github.com/roboticslab-uc3m/vision/pull/93#issuecomment-485287192 and next comments). If we could prepa

[2019-09-25 11:39] PeterBowman commented on #92
Sure. I've started https://github.com/roboticslab-uc3m/vision/issues/97 to cover the Travis CI stuff.

[2019-09-25 11:39] #92 closed, assigned to davidvelascogarcia

[2019-11-11 15:53] davidvelascogarcia commented on #79
Regarding #79 issue i´ve been trying to merge `colorRegionDetection` /` colorRegionDetection2D` and `haarDetection` / `haarDetection2D`.
First, i´ve started trying to merge `colorRegionDetection2D` with `haarDetection2D`.
Updates in [vision](https://github.com/davidvelascogarcia/vision/tree/haarColorRegionDetection2D) fork , `haarColorRegionDetection2D` branch. Right now works correctly at the sam

[2019-11-11 16:02] PeterBowman commented on #79
Is it worth in terms of efficiency having this app perform two different tasks at once?

[2019-11-11 16:10] jgvictores commented on #79
Nope! @davidvelascogarcia and I have spoken regarding the proposed architecture. It would look more like the following:

![photo_2019-11-11_17-09-13](https://user-images.githubusercontent.com/4448588/68602152-203a5f00-04a6-11ea-8e80-e520208c068c.jpg)

[2019-11-11 16:47] PeterBowman commented on #79
Looks nice. I'd keep those libs embedded within the haarColorRegionDetection2D application, unless you're really sure this could be highly reusable (given the heavy YARP constraints, I'm not sure about it). I presume that switching between modes is going to be done on init via YARP option?

[2019-11-11 16:57] jgvictores commented on #79
I was not thinking in keeping the `haarColorRegionDetection2D` name. My original idea intended to be able to switch to tensorflow too.

Yes, I guess the config will involve passing a YARP option. The API will involve passing a YARP image and getting the features in return.

[2019-11-25 14:06] davidvelascogarcia commented on #79
I have been working with proposed architecture in [switchDetection2D](https://github.com/davidvelascogarcia/vision/tree/switchDetection2D) branch.
The name that i´ve selected provisionally is `switchDetection2D`.

`switchDetection2D` module, merge vision `detection2D` programs. The module merge `colorRegionDetection2D`, `haarDetection2D` and `tensorflowDetection2D`.
This module works with `segment

[2019-12-04 12:31] jgvictores commented on #6
Blocked by https://github.com/roboticslab-uc3m/vision/issues/79

[2019-12-06 11:40] jgvictores opened #99 "Repo has no tests"
Repo has no tests

[2019-12-12 14:30] davidvelascogarcia commented on #97
Maybe using [tensorflow_cc](https://hub.docker.com/r/floopcz/tensorflow_cc/) `docker` image.
I´ve been doing some tests in [tensorflowDetection2D](https://github.com/davidvelascogarcia/tensorflowDetection2D) repo using `docker`image. The configuration that i used was [.travis.yml](https://github.com/davidvelascogarcia/tensorflowDetection2D/blob/develop/.travis.yml).
Using that configuration the sc

[2020-01-05 12:35] jgvictores commented on #52
Added at https://github.com/roboticslab-uc3m/vision/commit/2f97fa81d80980cc8aa19f5eebf9a009c3b06ada

Added at https://github.com/roboticslab-uc3m/vision/commit/e45834fb3404e6ad8d0b8ae3bdd2c4cbec1cd907

[2020-01-05 12:35] #52 closed, assigned to nobody

[2020-07-08 13:37] PeterBowman commented on #6
OpenCV 4.0 introduces QR code handling ([ref](https://github.com/opencv/opencv/wiki/ChangeLog#version400), https://github.com/asrob-uc3m/robotDevastation/issues/78#issuecomment-654759518):

[2020-08-24 15:33] PeterBowman commented on #87
Commit https://github.com/roboticslab-uc3m/vision/commit/6db02e3ca3494ba7b5dc0636fb5733482686ce49 temporarily enables compliance with OpenCV 4.0+ with regard to still-in-use old C API structures and macros, which we'll need to eventually migrate at some point. Thus, our code is expected to compile with OpenCV 2.x (untested), 3.x (full CI coverage) and 4.x (apparently fine on my local machine).

Ed

[2020-08-25 13:55] PeterBowman commented on #70
WIP at https://github.com/robotology/yarp/pull/2346.

[2020-09-01 21:18] PeterBowman commented on #88
Note that, despite all previous comments linking to *depthCamera* ([`yarp::dev::depthCameraDriver`](http://www.yarp.it/classdepthCameraDriver.html)), this bug also affects the *realsense2* device ([`yarp::dev::realsense2Driver`](http://www.yarp.it/classrealsense2Driver.html)).

[2020-09-02 16:07] PeterBowman commented on #88
Important: the "Trying to allocate an invalid pixel type image" error is issued by the *RGBDSensorClient* device on the same local process as our vision apps, e.g. *colorRegionDetection*. It is not caused by the sensor still warming up as it is launched in advance by the acquisition device (either *depthCamera* or *realsense2*) and its wrapper, and it keeps streaming valid frames before we even st

[2020-09-02 16:37] PeterBowman commented on #88
In fact:

[code]

See [`YarpVocabPixelTypesEnum`](http://www.yarp.it/libYARP__sig_2src_2yarp_2sig_2Image_8h.html#a2e411d9f65992414d37bdcfec7f737b4) and [`yarp::sig::ImageOf<yarp::sig::PixelFloat>::getPixelCode()`](https://github.com/robotology/yarp/blob/245690a2bb2b371a81efe0da2f9dbbd9f34e53b2/src/libYARP_sig/include/yarp/sig/Image.h#L648-L651).

[2020-09-02 18:12] PeterBowman commented on #88
Reported at https://github.com/robotology/yarp/issues/2349.

[2020-09-03 09:21] PeterBowman commented on #95
Also keep in mind https://github.com/robotology/yarp/issues/2161#issuecomment-682094974: `yarp::cv::` methods do not perform a clone of the original object, therefore care must be taken to not exceed the lifetime of the object that handles memory allocation.

[2020-09-14 14:12] PeterBowman commented on #70
So, https://github.com/robotology/yarp/pull/2346 has been merged into current `master` (YARP 3.5.0, unreleased). It adds a new `RGBDFromRosTopic` device ([docs](http://www.yarp.it/classRGBDSensorFromRosTopic.html)): a YARP-ROS bridge aimed for being wrapped by `RGBDSSensorWrapper` (similarly to existing acquisition devices, e.g. `realsense2` or `depthCamera`). In turn, this means that `RGBDSensorC

[2020-09-14 14:24] PeterBowman commented on #70
Same as `issue-70-RGBDsensor-ROS-support-still-not-implemented` (https://github.com/roboticslab-uc3m/vision/compare/1de27a1...c4637b3)?

[2020-09-14 15:09] PeterBowman commented on #70
I can confirm the ROS-YARP-RGBD bridge works, it seems even less CPU-consuming. See https://github.com/IntelRealSense/realsense-ros for install instructions (despite the suggestions, I have installed the ROS package over an existing Intel SDK). There might be some kind of issue with the `depthimage(2)` carriers (PR is coming, I presume), but at least depth frames are arriving at destination. Both

[2020-09-14 15:09] #70 closed, assigned to dpriver, davidvelascogarcia

[2020-09-14 15:57] jgvictores commented on #70
@PeterBowman This is good news! Thank you so much for handling this!

[2020-09-25 16:47] PeterBowman commented on #88
PR https://github.com/robotology/yarp/pull/2368 fixes this in YARP master, scheduled for next major release 3.5. I'm going to patch this on our side with if-guard directives.

[2020-09-25 17:05] #88 closed, assigned to PeterBowman

[2020-09-27 09:31] PeterBowman commented on #88
Fixed in https://github.com/roboticslab-uc3m/vision/commit/d4519b30142751410fce28c79e5fe6ba92fa4bee and followed up by https://github.com/roboticslab-uc3m/vision/commit/433c6acdd0a83b456ca222496355b5f3912aab24 (thanks to @jgvictores for noticing the typo!).

[2020-11-01 14:37] jgvictores commented on #73
Closing extremely out-dated issue.

[2020-11-01 14:37] #73 closed, assigned to nobody

[2020-11-01 14:43] jgvictores commented on #79
Edited description because it was way too ambitious. Enough has been done at https://github.com/roboticslab-uc3m/vision/commit/7497b4b07688aafa101889f5285abddc1c16c427 (see commit message for more tasks that were accomplished in the process):
- Old: colorRegionDetection2D + haarDetection2D
- New: switchDetection2D + libs (HaarDetector + ColorRegionDetector)

[2020-11-01 14:43] #79 closed, assigned to jgvictores, PeterBowman

[2020-11-01 14:45] jgvictores commented on #99
Fists tests have been added at https://github.com/roboticslab-uc3m/vision/commit/7497b4b07688aafa101889f5285abddc1c16c427 which was oriented at solving https://github.com/roboticslab-uc3m/vision/issues/79

[2020-11-01 14:45] #99 closed, assigned to jgvictores, PeterBowman

[2020-11-01 14:48] jgvictores commented on #69
First API has been added at https://github.com/roboticslab-uc3m/vision/commit/7497b4b07688aafa101889f5285abddc1c16c427 which was oriented at solving https://github.com/roboticslab-uc3m/vision/issues/79

PS: https://github.com/roboticslab-uc3m/vision/blob/7497b4b07688aafa101889f5285abddc1c16c427/libraries/YarpPlugins/IDetector.hpp

[2020-11-01 14:51] jgvictores commented on #6
Unblocked, it should now be rather straightforward to implement this.

[2020-11-01 15:00] jgvictores opened #100 "Convert haarDetection into switchDetection or switchDetection21D"
As a follow-up of https://github.com/roboticslab-uc3m/vision/issues/79, use the `HaarDetection` library to convert `haarDetection` into `switchDetection` or `switchDetection21D`. Not sure about the name. ^^

Focusing on `haarDetection` to go one item at a time (next up will be `colorRegionDetection`), and it is currently used by https://github.com/roboticslab-uc3m/follow-me so both must be synchro

[2020-11-01 15:02] jgvictores commented on #69
Re-opening to treat the client/server device pair

[2020-11-01 16:28] PeterBowman commented on #95
Currently using (same in [HaarDetector.cpp](https://github.com/roboticslab-uc3m/vision/blob/7497b4b07688aafa101889f5285abddc1c16c427/libraries/YarpPlugins/HaarDetector/HaarDetector.cpp#L57-L59)):

https://github.com/roboticslab-uc3m/vision/blob/7497b4b07688aafa101889f5285abddc1c16c427/libraries/YarpPlugins/ColorRegionDetector/ColorRegionDetector.cpp#L69-L71

Proposal, yet to be tested:

[code]

[2020-11-02 00:33] PeterBowman commented on #95
For future reference, it turns out the preferred way to duplicate and assign a pixel layout in memory, thus possibly choosing a different color space than the original image, is achieved by calling `Image::copy()`:

[code]

Both YARP and OpenCV work with images at the memory level, but YARP adds a typed layer which helps abstracting the pixel layout. In the above example, for pixel (x,y): `img1(x,

[2020-11-02 01:05] PeterBowman commented on #6
I'm eager to work on this. Some research:

* OpenCV 4.0: first implementation ([docs](https://docs.opencv.org/4.0.0/de/dc3/classcv_1_1QRCodeDetector.html))
* OpenCV 4.3: adds support for multiple QRs on image ([docs](https://docs.opencv.org/4.3.0/de/dc3/classcv_1_1QRCodeDetector.html))
* OpenCV 4.5.1: adds support for curved QRs ([docs](https://docs.opencv.org/4.5.1/de/dc3/classcv_1_1QRCodeDetecto

[2020-11-02 19:11] #95 closed, assigned to PeterBowman

[2020-11-03 14:47] PeterBowman commented on #6
Done at https://github.com/roboticslab-uc3m/vision/commit/e62cf5370dd3cf45073386728297b441cd55aa18: C++ code + Python example + unit test. The new `QRDetector` device supports multiple QR codes in the supplied image if compiled with OpenCV 4.3+.

[2020-11-03 14:47] #6 closed, assigned to PeterBowman

[2020-11-11 16:59] jgvictores commented on #70
Also confirmed for Gazebo simulation of TIAGo! `yarpdev --device RGBDSensorWrapper --subdevice RGBDSensorFromRosTopic --rgb_data_topic /xtion/rgb/image_color --rgb_info_topic /xtion/rgb/camera_info --depth_data_topic /xtion/depth_registered/image_raw --depth_data_info /xtion/depth_registered/camera_info --name /jtest`

![VirtualBox_Ub18Tiago_11_11_2020_17_56_16](https://user-images.githubuserconte

[2020-11-16 16:59] PeterBowman opened #101 "Introducing Kinect Fusion as a service"
OpenCV 4.0 (mid 2019) features an implementation of the Kinect Fusion algorithm ([original paper (2011)](https://github.com/roboticslab-uc3m/vision/files/5548402/ismar2011.pdf)). This is a rework of https://github.com/Nerei/kinfu_remake, which is itself a rework of PCL's KinFu. Following new OpenCV's guidelines, [`cv::kinfu::KinFu`](https://docs.opencv.org/master/d8/d1f/classcv_1_1kinfu_1_1KinFu.h

[2020-11-16 17:07] PeterBowman commented on #101
`KinFu` accepts a decent set of configuration parameters encoded in the [`cv::kinfu::Params`](https://docs.opencv.org/4.4.0/de/d81/structcv_1_1kinfu_1_1Params.html#a0b1c583ce09e20fbbcd138300ab4b05d) structure. OpenCV 4.2 introduces `Params::truncateThreshold`, while 4.4 adds an alternative configurable internal volume representation (hash-TSDF).

`DynaFu` parameters are mostly the same as those us

[2020-11-16 17:11] PeterBowman commented on #101
Work is almost done, I'm writing down extra info here for doc purposes. KinFu performs nicely, but DynaFu throws an assertion error on my machine: https://github.com/opencv/opencv_contrib/issues/2528#issuecomment-728148351 (note OpenGL is a requirement for DynaFu, I had to `apt install libgtkglext1-dev`). Also, I'm not implementing Large Scale KinFu for now until the next OpenCV release is ready,

[2020-11-16 17:16] PeterBowman commented on #101
Since this is not documented anywhere, let me stress that OpenCV expects depth frames storing pixel floats that express distances in **millimeters**. On the other hand, YARP prefers meters.

[2020-11-17 16:12] PeterBowman commented on #101
Note regarding `cv::kinfu::KinFu::render`:

https://github.com/roboticslab-uc3m/vision/blob/d9d0d07248a0b05ec0e60adabfbcafc43484e48c/programs/sceneReconstruction/KinFu.cpp#L139-L145

The `umat` stores an 8UC4 image, that is, a 4-channel Phong-rendered representation of the reconstructed surface. Even though `yarp::cv::fromCvMat` assumes the input CV image is in the BGR color space ([ref](https://g

[2020-11-17 18:03] PeterBowman commented on #101
![Screenshot from 2020-11-17 19-02-56](https://user-images.githubusercontent.com/9977198/99428889-881c5480-2907-11eb-971f-ac06fadb33ab.png)

[2020-11-18 13:11] PeterBowman commented on #101
The following example app queries the point cloud (also with normals) previously generated by this service via manually issued RPC commands (`[rsm]` + `[paus]`), then saves them to file in PCD format (PCL's data storage):

[code]

[code]

Note PCD files can be inspected with `pcl_viewer` and converted to PLY (supported by Meshlab) via `pcl_pcd2ply`. These utilities can be obtained via `apt install

[2020-11-18 15:19] PeterBowman commented on #101
Done at https://github.com/roboticslab-uc3m/vision/commit/44c8df75c02fdf53b6b2efc67bf443dd8a2a3262. The list of RPC commands might be enhanced with a save_to_file command (either PLY or PCD format), which will be addressed in another issue if deemed convenient.

[2020-11-18 15:19] #101 closed, assigned to PeterBowman

[2020-11-18 17:57] PeterBowman opened #102 "Create new library of cloud-related YARP utilities"
Following on https://github.com/roboticslab-uc3m/vision/issues/101#issuecomment-729749286, I'd like to propose a new shared library of free functions focused on operations on point clouds. The point here is to interface with YARP classes, therefore I propose the name **YarpCloudUtils**. Functionalities envisioned so far include (temp names):

* cloudToFile
* meshToFile
* cloudFromFile
* meshFromFi

[2020-11-18 18:01] PeterBowman commented on #102
I really want to provide a simple way to export clouds generated by *sceneReconstruction* (our new Kinect Fusion service). It makes little sense to create specific RPC commands for that purpose, chiefly because it would not store the data on the client's PC but rather on the server executing *sceneReconstruction*. So, a simple client app would do. It might also cover the cloud-to-mesh conversion c

[2020-11-19 10:39] PeterBowman commented on #102
To avoid reinventing the wheel, there are some valuable FOSS alternatives:

* https://github.com/ddiakopoulos/tinyply (header-only, public domain!)
* https://github.com/nmwsharp/happly (header-only)
* https://github.com/rbregier/plycpp (hpp + cpp, embed in project)
* https://github.com/srajotte/libplyxx
* https://github.com/mootshell/EasyAsPly
* ...

See also http://paulbourke.net/dataformats/ply/

[2020-11-22 16:16] PeterBowman commented on #102
The following program shows a sample usage of all supported specializations of `savePLY` and `loadPLY` regarding point clouds and meshes. Mind https://github.com/robotology/yarp/pull/2417 regarding the `toString` instructions for RGBA values to be printed correctly. It is also useful for illustrating how `yarp::sig::PointCloud` elements can be constructed and pushed into the cloud via aggregate in

[2020-11-23 14:34] PeterBowman commented on #102
Tinyply presents two major shortcomings (especially wrt. the PCL implementation I want to align with):

* Optional properties: for instance, in case the alpha channel in a XYZRGBA point cloud is missing, tinyply throws an exception. In contrast, PCL falls back to a value of zero while showing a warning.
* Sort order of properties: since I'm `memcpy`ing bytes into the internal memory of the resulti

[2020-11-23 15:59] PeterBowman commented on #101
Found by @jgvictores:

* https://rosindustrial.org/news/2019/8/7/yak-3d-reconstruction-in-ros2
* https://github.com/ros-industrial/yak

Probably quite equivalent to OpenCV's KinFu (and released two years earlier), also uses TSDF volumes.

[2020-11-23 16:32] PeterBowman commented on #102
On my machine, reading an ASCII 31M .ply file of XYZ points takes around 1670 ms with PCL and 750 ms with tinyply AToW.

[2020-11-23 18:12] PeterBowman commented on #102
Fixed at https://github.com/roboticslab-uc3m/vision/commit/5873b7c739003486dc9f0d534097f869b3583e5f and no perf drop observed. It's even less memory-consuming since no copies into intermediary buffers are involved.

[2020-11-23 22:32] PeterBowman commented on #102
Note PCL ignores the "intensity" and "strength" properties for `pcl::PointXYZI` and `pcl::InterestPoint`, respectively, when saving **meshes**. Also, loading meshes with types `pcl::PointXY` or `pcl::Normal` is not possible.

[2020-11-24 12:39] PeterBowman commented on #102
This table compares the performance of PCL versus tinyply, tested with an XYZ cloud of 1525437 points (using the *sceneReconstruction* sample client). Cell values represent average elapsed time in milliseconds. The table also includes a variation of the tinyply PLY reader using buffered streams, inspired by [this tinyply example](https://github.com/ddiakopoulos/tinyply/blob/79a5c65965d193425dd3340

[2020-11-24 14:55] PeterBowman commented on #102
Done at https://github.com/roboticslab-uc3m/vision/commit/6d6cf427f4a0f21c0065e46c8c623824b61587f8. For the record, I'd like to link here to the deleted sample usage of type traits for future reference:

https://github.com/roboticslab-uc3m/vision/blob/d0d62eda6d4832a2e28ce81d15d101b6a6506238/libraries/YarpCloudUtils/YarpCloudUtils-pcl.cpp#L14-L47

https://github.com/roboticslab-uc3m/vision/blob/d0

[2020-11-25 14:41] PeterBowman commented on #102
Cloud downsampling ([`pcl::Filter`](https://pointclouds.org/documentation/classpcl_1_1_filter_3_01pcl_1_1_p_c_l_point_cloud2_01_4.html), [`pcl::FilterIndices`](https://pointclouds.org/documentation/classpcl_1_1_filter_indices.html), [module *filters*](https://pointclouds.org/documentation/group__filters.html)):

* [`pcl::ApproximateVoxelGrid`](https://pointclouds.org/documentation/classpcl_1_1_app

[2020-11-28 13:32] PeterBowman commented on #102
I'm introducing three new C++ example apps related to cloud generation and meshing:

* exampleMeshFromCloud: load a point cloud from .ply file, generate mesh and save to disk
* exampleMeshFromLiveDepth: connect to live depth sensor, acquire depth frame, generate cloud and/or mesh and save to disk
* exampleSceneReconstructionClient: connect to remote Kinect Fusion server, download cloud, generate m

[2020-11-29 21:34] PeterBowman commented on #102
Not sure if I'm ever going to consider this seriously, but instead of a one-pass omnibus free function I could wrap the whole pipeline in a class and, using the builder pattern for configuration, grant the user better control of the underlying pipeline:

[code]

[2020-12-02 19:36] #100 closed, assigned to jgvictores

[2020-12-02 19:37] jgvictores commented on #100
Done at https://github.com/roboticslab-uc3m/vision/commit/9c88d15a69763b3db2d01e20c21bba6e2142b190

[2020-12-02 22:36] PeterBowman commented on #102
Done at https://github.com/roboticslab-uc3m/vision/commit/ba9ed6913bf79105dba1f945ab2f9f6808649e6a, but quite far from my original intention. I realized that the class that shall represent the result of the builder mechanism would only have one method. It's equivalent to the current status quo of having a one-pass free function that accepts a parameter for internal configuration, so I'm just stick

[2020-12-03 12:32] PeterBowman commented on #102
At first, I was enforcing that input and output clouds (i.e. input point cloud and output vertex cloud) must share the same point type:

https://github.com/roboticslab-uc3m/vision/blob/18e3db6d3eb6d7c733ab9a26bf94407b462e6660/libraries/YarpCloudUtils/YarpCloudUtils.hpp#L46-L56

Then, I allowed the instantiation of distinct type arguments for `yarp::sig::PointCloud<T>` as input and output:

https:/

[2020-12-06 16:01] PeterBowman commented on #102
I've reworked the implementation (https://github.com/roboticslab-uc3m/vision/commit/8a8223c16a24faee474f29e226b062d1524dd6b5), thus gaining much more flexibility. Next, I allowed clients to configure their custom pipeline via vector of properties (each element is another step in said pipeline):

https://github.com/roboticslab-uc3m/vision/blob/4cb018b74ce6b976f388a324cc9c336f409cf46d/libraries/Yarp

[2020-12-12 19:12] PeterBowman commented on #102
I'm not adding bindings because YARP doesn't support translation of `yarp::sig::PointCloud` into Python. Also, stuff like `VectorOf<Property>` would need special treatment (ideally, list of dictionaries).

[2020-12-13 13:12] PeterBowman commented on #102
Commit https://github.com/roboticslab-uc3m/vision/commit/68e6e60cb5dfbbccba2bbd3ee63cbef1afb12b2f added a `volatile` dummy variable to avoid a (corner?) case of aggressive compiler optimization. Why is that:

* Despite usual practice, I don't provide the implementation of function templates in the header file:
  https://github.com/roboticslab-uc3m/vision/blob/f0bbb9dc434b463a115d5da7ea064a81291c09

[2020-12-13 18:04] PeterBowman commented on #102
Done at https://github.com/roboticslab-uc3m/vision/commit/2c8786191bf8232694a3c831c9d216fbb803f771. In addition to cloud/mesh import/export and cloud2mesh, I also added plain cloud processing so that a new point cloud can be obtained through any of the 33 algorithms featured in this library (those that output another cloud, of course).

Documentation:
* http://robots.uc3m.es/dox-vision/group__Yarp

[2020-12-13 18:04] #102 closed, assigned to PeterBowman

[2020-12-16 17:03] PeterBowman commented on #102
Follow-up: https://github.com/roboticslab-uc3m/vision/commit/a0ac04febce90546b1e02fb0aa030b5b7bdd0c3e introduces `transformPointCloud` and `transformPointCloudWithNormals`. These functions perform an affine transformation (translation+rotation) on a point cloud.

Ideally, I'd like to apply this step on the resulting surface mesh. Since these functions only accept `pcl::PointCloud<T>` instead of `p

[2020-12-24 15:22] PeterBowman commented on #69
This issue relates to exposing `IDetector::detect` in an ICP manner (RPC-driven):

https://github.com/roboticslab-uc3m/vision/blob/3ed7898f8b57d45f1725b945e863fe4e6a2b6ec0/libraries/YarpPlugins/IDetector.hpp#L22-L23

Let's assume we have a remote server accepting input frames and returning a vector of detected objects. The client part encodes this data in a similar manner (sends YARP frames, expec

[2020-12-24 15:24] PeterBowman commented on #94
Commit https://github.com/roboticslab-uc3m/vision/commit/d8af84bce39f3d50b9330b1f93f6b4b5bb765dec unbreaks the ASUS Xtion for recent YARP releases.

[2020-12-24 15:26] PeterBowman commented on #94
Kinect2 depth parameters as used in OpenCV's rgbd module samples ([link](https://github.com/opencv/opencv_contrib/blob/b91a781cbc1285d441aa682926d93d8c23678b0b/modules/rgbd/samples/io_utils.hpp#L80-L90)):

[code]

[2020-12-28 16:51] jgvictores commented on #69
@PeterBowman Yes, this is the main idea. I think it is the cleanest implementation.

Note that I am open to alternatives regarding the possibility of receiving and processing a stream. However, it would require adding logic to the device, which we want to avoid. In fact, the logic of the obvious use case is already conveniently covered in https://github.com/roboticslab-uc3m/vision/tree/master/prog

[2021-01-02 15:21] PeterBowman commented on #101
For future reference, OpenCV's rgbd module provides a set of utilities that could render (pun not intended) useful in other applications: [docs](https://docs.opencv.org/master/d7/d0b/namespacecv_1_1rgbd.html). Notes:

* [`cv::rgbd::depthTo3d`](https://docs.opencv.org/master/d2/d3a/group__rgbd.html#ga403eeb581b09684f7e24f7c157086dd6): same as [`yarp::sig::utils::depthToPC`](http://www.yarp.it/git-m

[2021-01-02 17:25] PeterBowman commented on #101
Large-scale KinFu implemented at https://github.com/roboticslab-uc3m/vision/commit/01598b6746162e2362ca415a667ba2a51084c270. Note OpenCV 4.5.1 is required.

[2021-01-13 10:55] PeterBowman opened #103 "Perform object detection/classification with OpenCV/DNN"
It is best to read this article found by @jgvictores: https://www.pyimagesearch.com/2020/02/03/how-to-use-opencvs-dnn-module-with-nvidia-gpus-cuda-and-cudnn/.

Also, this could complement/replace the [*tensorflowDetection2D* app](https://github.com/roboticslab-uc3m/vision/tree/01ce8ad6325198f48c3ada7de3462f0591d07872/programs/tensorflowDetection2D) (https://github.com/roboticslab-uc3m/vision/issue

[2021-02-25 15:12] elisabeth-ms commented on #103
I have tried dnn module from OpenCv 4.2 version with an Nvidia 940Mx (CUDA_ARCH_BIN = 5.0), although DNN from this version of OpenCv does not allow CUDA_ARCH_BIN lower than 5.3.

The following cmake error appears “CMake Error at modules/dnn/CMakeLists.txt:99 (message):

CUDA backend for DNN module requires CC 5.3 or higher. Please remove
unsupported architectures from CUDA_ARCH_BIN option.”

More

[2021-03-09 16:27] elisabeth-ms commented on #103
Dnn module from  OpenCV 4.3 works fine with the Nvidia 940 Mx. I have tested the following example that performs object detection [https://github.com/opencv/opencv/blob/master/samples/dnn/object_detection.cpp]( https://github.com/opencv/opencv/blob/master/samples/dnn/object_detection.cpp). By default this example doesn't allow cuda backend computations but this is solved by just changing two lines

[2021-03-17 16:41] jgvictores commented on #97
Dropping as `wontfix` in favor of https://github.com/roboticslab-uc3m/vision/issues/103, right @PeterBowman ?

[2021-03-17 19:06] PeterBowman commented on #97
I think we should keep docker on our radar because of GPU/DNN-ready OpenCV 4.x, but yes, this issue should be dropped as we aim to supersede tensorflowDetection2D. Closing!

[2021-03-17 19:06] #97 closed, assigned to nobody

[2021-04-05 15:29] elisabeth-ms commented on #103
I've developped a first version of the object detection program in [vision](https://github.com/elisabeth-ms/vision) fork (brach: object-detection-opencv-dnn). The detections (category, bounding box and confidence) are published in a yarp port. The output image with bounding boxes  annotated is also published in a yarp port.

An example of the detections image:

![yolo_test](https://user-images.git

[2021-04-22 11:56] PeterBowman commented on #6
OpenCV 4.5.2 (contrib) features the [WeChat QR code detector](https://docs.opencv.org/4.5.2/d5/d04/classcv_1_1wechat__qrcode_1_1WeChatQRCode.html) based on CNN models.

[2021-04-22 12:01] PeterBowman commented on #101
OpenCV 4.5.3 features colored KinFu: [`cv::colored_kinfu::ColoredKinFu`](https://docs.opencv.org/4.5.3/d5/d61/classcv_1_1colored__kinfu_1_1ColoredKinFu.html).

[2021-04-22 17:20] PeterBowman commented on #103
![Screenshot from 2021-04-22 19-13-55](https://user-images.githubusercontent.com/9977198/115757985-f1186480-a39e-11eb-82dc-8e0cd84b4797.png)

[code]

Nailed it!

PS using YOLOv3-tiny model and config from the ["Performance on the COCO Dataset" section](https://pjreddie.com/darknet/yolo/) (direct links: [cfg](https://github.com/pjreddie/darknet/blob/17d47744a290a6d95f9f4d592e8955b5baa8615f/cfg/yolo

[2021-04-23 16:24] PeterBowman opened #104 "Improve RGB detection app basing on opencvDnnDetection"
Issue https://github.com/roboticslab-uc3m/vision/issues/103 introduced a new object detector/classifier based on OpenCV DNN. It has been implemented both as a YARP device and a program; the latter actually duplicates *rgbDetection*, therefore it should be fully moved into the device code.

A few things to consider:

- [x] The *opencvDnnDetection* app uses `cv::dnn::NMSBoxes` ([ref](https://github.

[2021-04-23 16:29] PeterBowman commented on #103
Merged at https://github.com/roboticslab-uc3m/vision/commit/4ccebfc5b42536e1d1ff63c2725c834cf88087cd, thanks! As discussed with @jgvictores, the device has been renamed to *OpencvDnnDetector*. A follow-up on the current state of *rgbDetection* will be covered in https://github.com/roboticslab-uc3m/vision/issues/104.

PS especially, see https://github.com/roboticslab-uc3m/vision/issues/104#issuecom

[2021-04-23 16:29] #103 closed, assigned to elisabeth-ms

[2021-04-23 18:13] PeterBowman commented on #104
@jgvictores provided [this nice YT video](https://www.youtube.com/watch?v=VAo84c1hQX8&list=PLkDaE6sCZn6Gl29AoE31iwdVwSG-KnDzF&index=29) portraying nonmax suppression (NMS), on the same playlist YOLO is explained as well.

[2021-04-25 19:57] PeterBowman opened #105 "Select ROI in RGB(D) detection apps (old crop selector)"
The *rgbDetection*/*rgbdDetection* apps used to implement a crop data processor ([ref](https://github.com/roboticslab-uc3m/vision/blob/c53efe22ba3ea279a555c0ad6b08f4463c981eba/programs/rgbDetection/DetectorThread.hpp#L31-L81)). It was meant to comply with `yarpview --out click`, an output port which publishes pixel coordinates whenever the user clicks on the viewer ([docs](http://www.yarp.it/git-m

[2021-04-25 20:15] PeterBowman commented on #64
Well, perhaps the hash mess was just an accident, I'm not 100% sure if this tool is supposed to always add that information.

Have we actually tracked these leftover big files? I can't find them in the repo tree at the time you wrote that comment ([sources](https://github.com/roboticslab-uc3m/vision/tree/379cd305d66fcd1234022ced3a10daec6218d2a3)). I've just cloned this repo and it weighs 16 MB, wh

[2021-04-25 21:46] jgvictores commented on #64
Sure, thank you so much!

[2021-04-25 23:00] #64 closed, assigned to jgvictores

[2021-04-26 14:02] PeterBowman commented on #105
See [`yarp::dev::IFrameGrabber::getImageCrop`](http://www.yarp.it/git-master/classyarp_1_1dev_1_1IFrameGrabberImage.html#a0488fbb24e583de558811667a19c364e).

[2021-04-26 14:41] PeterBowman commented on #104
Commit https://github.com/roboticslab-uc3m/vision/commit/4b667a0392e8f49c54ab62870e20c0475dc8d2af changes the signature of `IDetector::detect`, turning the `std::vector<yarp::os::Property>` into a `yarp::os::Bottle`:

https://github.com/roboticslab-uc3m/vision/blob/4b667a0392e8f49c54ab62870e20c0475dc8d2af/libraries/YarpPlugins/IDetector.hpp#L20

It renders the code a bit shorter and we can take ad

[2021-04-26 14:44] PeterBowman commented on #104
Commit https://github.com/roboticslab-uc3m/vision/commit/a36e5d8daf7b3626fb294c909328a5422d61b7b2 conditionally enables OpenCV's imgproc module, if available (falling back to [`yarp::sig::draw`](http://www.yarp.it/git-master/namespaceyarp_1_1sig_1_1draw.html) if not), to draw boxes and labels in *rgbDetection*. Label keys are hardcoded:

https://github.com/roboticslab-uc3m/vision/blob/a36e5d8daf7b

[2021-04-27 12:15] PeterBowman commented on #104
Apparently, the detector doesn't work with arbitrary input image dimensions:

[code]

Seems fine with square or almost-square shapes and 640x480, might fail otherwise. Input shape per *yolov3-tiny.cfg* is 416x416 ([ref](https://github.com/pjreddie/darknet/blob/17d47744a290a6d95f9f4d592e8955b5baa8615f/cfg/yolov3-tiny.cfg#L8-L9)).

[2021-04-27 12:55] PeterBowman commented on #104
Commit https://github.com/roboticslab-uc3m/vision/commit/bfb57ae42c87bdc3ad18d6a333bbc7bc510e3a03 features unit testing for the DNN detector against a static image uploaded to share/. YOLOv3-tiny models are fetched on-demand by CMake if `DOWNLOAD_MODELS=ON`, then installed into the OpencvDnnDetector resource path.

[2021-04-27 14:32] PeterBowman commented on #104
Merged at https://github.com/roboticslab-uc3m/vision/commit/fae6420f5cddaf20fecdfb803c1df967f9f0f04f, note the device has been renamed to **DnnDetector**.

Notes regarding parameters:
* **(default)** `--backend 5 --target 6`: `DNN_BACKEND_CUDA` + `DNN_TARGET_CUDA` - NVIDIA GPU required
* `--backend 3 --target 1`: `DNN_BACKEND_OPENCV` + `DNN_TARGET_OPENCL` - GPU required, uses one CPU thread
* `--b

[2021-04-27 14:32] #104 closed, assigned to PeterBowman

[2021-04-27 14:50] PeterBowman commented on #105
This is **not** documented: if you click on the `yarpviewer` window, hold and drag your cursor somewhere else, a red segment is painted between the starting point and your current position, as shown below. If the `--out /port` option was passed, upon releasing the mouse button a 4-int bottle is sent through `/port` with the XY coordinates of your start and end positions.

![Screenshot from 2021-04

[2021-04-27 18:54] PeterBowman commented on #105
Implemented in *rgbDetection* at https://github.com/roboticslab-uc3m/vision/commit/b062e1d9188ff31222b2419867d1fbcaaf7ed84b. Here is a demo:

https://user-images.githubusercontent.com/9977198/116295780-be54de80-a799-11eb-8b40-764255c6ee4a.mp4

One has to run *yarpview* with `--out /click`, start *rgbDetection* and then manually connect to the app's `<prefix>/sync:i` port. A drag&drop action will r

[2021-04-27 23:23] PeterBowman commented on #105
A refactorization of the internals of `grabberDual` regarding image cropping has been proposed at https://github.com/robotology/yarp/pull/2559. Since *rgbdDetection* cannot use `getImageCrop` because RGBD interfaces lack an equivalent method, the `yarp::sig::utils::cropRect` function introduced in said PR would come to the rescue.

[2021-04-28 14:43] PeterBowman opened #106 "The future of voxelOccupancyDetection and pointAtObjectServer apps"
We are undergoing a refactorization/cleanup and now it's the turn of these two applications. They look like a nice-to-have to me basing on their names, but in fact I don't know their exact purpose nor current state. All I can say is:

* [voxelOccupancyDetection](https://github.com/roboticslab-uc3m/vision/tree/d4f9a6231356f3107219f4e2d1cbcdf618bd9218/programs/voxelOccupancyDetection): according to

[2021-04-30 10:41] PeterBowman commented on #105
The upstream patch has been merged and is expected to be featured in the YARP 3.5 release. The *rgbdDetection* app is now ready to take advantage of this new utility at https://github.com/roboticslab-uc3m/vision/commit/088555a83101d1f816c8155691cd6c568207c073.

Alternatively, we could actually resort to OpenCV for image cropping. It might make sense in case labelling via OpenCV (currently only in

[2021-04-30 12:07] PeterBowman commented on #105
The cropper has been refactored into a new static library at https://github.com/roboticslab-uc3m/vision/commit/a6ab32dccfb205df757ce5e03adb3fe5b0869632. It is derived from `TypedReaderCallback<Bottle>` and can be easily used in other apps if needed. I decided not to install nor export this, it's just a local helper lib.

[2021-04-30 12:18] #105 closed, assigned to PeterBowman

[2021-04-30 18:20] PeterBowman commented on #87
Done at https://github.com/roboticslab-uc3m/vision/commit/1005c75b8dcab43714d99c0262654f43c2535ae7. Notes:
* I'm removing *pointAtObjectServer* from main compilation, but the code is still there. See https://github.com/roboticslab-uc3m/vision/issues/106 for a related discussion.
* Not specifying individual OpenCV components to `find_package()`. In contrast to YARP, which skips system lookup on uns

[2021-04-30 18:20] #87 closed, assigned to PeterBowman

[2021-04-30 18:37] PeterBowman commented on #74
Closing due to inactivity and low priority/lack of interest. Moreover, this YARP interface contains many more methods than we actually need, and it seems oriented towards dual camera configurations. I should add that our [haarDetectionController](https://github.com/roboticslab-uc3m/kinematics-dynamics/tree/9b476c96c1af2aea975703615123bee66d14fdcd/programs/haarDetectionController) app is mostly aba

[2021-04-30 18:37] #74 closed, assigned to nobody

[2021-05-07 21:54] PeterBowman opened #107 "Prepare Docker image for CI"
CI support via GitHub Actions was added at https://github.com/roboticslab-uc3m/vision/commit/f87fbd1cdb45cd8764d1b1e88e4d16724438f4ad. Currently, some components are excluded from the build due to unmet dependencies, which ultimately boils down to not having OpenCV compiled from sources. Instead, we consume the official [*libopencv-dev* apt package](https://packages.ubuntu.com/search?keywords=libo

[2021-05-08 09:06] jgvictores commented on #107
I believe that the Docker image, even without a working build of roboticslab-uc3m/vision libraries and tools, would be useful for user land. Two use cases:

- In the case of compiling roboticslab-uc3m/vision, if I'm not getting everything wrong and the equivalence not too is far-fetched, I'd say this is similar to what you achieve with a `apt-get build-dep` workflow.
- We also have some parallel d

[2021-07-11 18:01] PeterBowman commented on #101
Implemented at our end: https://github.com/roboticslab-uc3m/vision/commit/26a3a6836dffea2bb018f052bc7d6816fe88fb9d. ~~However, the upstream algorithm is not finished yet as color+depth frame integration is still a WIP and any attempt to run this algorithm will result in a "Not implemented" error ([ref](https://github.com/opencv/opencv_contrib/blob/d5317d6297a8129b66dba1a1f7cc784e94639da9/modules/r

[2021-12-29 23:45] PeterBowman commented on #101
OpenCV 4.5.5 (released a few days ago) also features colored point clouds, in addition to colored renders. I have implemented this on our side at https://github.com/roboticslab-uc3m/vision/commit/4cd9ed73f49b28a0b2983bf2d35dc61cd74d0ca0 (the example has also learned to export colored clouds). It kinda works, but OpenCV does not support GPU colored TSDFs at the time of writing. In result, severely

[2022-01-14 12:52] PeterBowman commented on #69
I think this could make sense:

* Define our new API in [vision.thrift](https://github.com/roboticslab-uc3m/vision/blob/ad9c273e688b3aab86fa755fff1ebcddd85d73da/libraries/VisionIDL/vision.thrift).
* Make [*rgbDetection*](https://github.com/roboticslab-uc3m/vision/tree/ad9c273e688b3aab86fa755fff1ebcddd85d73da/programs/rgbDetection) and [*rgbdDetection*](https://github.com/roboticslab-uc3m/vision/tr

[2022-01-14 17:32] PeterBowman commented on #69
Proposal: `return_rgb getLastRgbDetection()` in service `RgbDetection`, where:

[code]

To be implemented by *rgbDetection* and *rgbdDetection*. Aditionally, this service could feature start/stop detection commands and frame size getters. Also, `tlx`/`tly` and `brx`/`bry` could live in their own `Pixel` structure.

Then, only *rgbdDetection* would implement `return_depth getLastDepthDetection()` i

[2022-01-14 18:20] jgvictores commented on #69
In **both** cases (rgb + rgbd), I'm inclined to **always** return some sort of array. This was our original rgb approach, where we had, e.g. the maxBlob or similar parameter. More generally, depending on **the algorithm itself** or **the algorithm config parameters**, the actual elements in the array can be limited to 1.

EDIT: Re: "I'd rename the "/state:o" ports to something like "/detector:o" a

[2022-01-17 17:34] PeterBowman commented on #69
ASWJ, we are not going to implement this considering the current state of things. The IDL proposal is somewhat nicer than a new pair of YARP devices in the usual client/server arrangement, albeit not as much worthy on a second thought. Sadly, the YARP-IDL implementation differs from the ROS message system in that we can mimic their RPC services, but broadcasting data through topics is not availabl

[2022-01-17 17:34] #69 closed, assigned to jgvictores, PeterBowman

[2022-01-18 09:41] jgvictores commented on #69
Yes, totally. `rgbDetection` already does this. You can see how the information the actual detector passes in a bottle https://github.com/roboticslab-uc3m/vision/blob/ad9c273e688b3aab86fa755fff1ebcddd85d73da/programs/rgbDetection/RgbDetection.cpp#L158-L160 is directly published at https://github.com/roboticslab-uc3m/vision/blob/ad9c273e688b3aab86fa755fff1ebcddd85d73da/programs/rgbDetection/RgbDete

[2022-01-18 10:10] PeterBowman commented on #69
Exactly, in this proposal I wanted said port to stream raw, unmodified detection data, i.e. a dictionary (represented as a YARP bottle) which stores pixel coordinates and may vary slightly across different detectors. In contrast, the extra RPC port would accomodate its protocol to the command of choice (one object vs several objects, pixel coordinates vs XYZ coordinates).

However, I think it is *

[2022-01-18 10:24] jgvictores commented on #69
ASWB, to sum up, there were many interesting ideas in the conversation, and I'd also like to write them down for posterity. There are some consensus that I'm just writing here (again) explicitly:

1. We're cool with the `IDetector` as a local plugin/device. The plugin/device mechanism enables a clean interface, with selection of the implementation at runtime.
1. We're cool with the current archite

[2022-01-18 10:26] jgvictores commented on #69
I don't know... at first though, I'd have no issue with a client performing 2 simple operations of arithmetic mean over 2 elements.

[2022-01-18 10:50] PeterBowman commented on #69
I would certainly have an issue if all clients needed to open their own RGBD client device, fetch a depth frame, perform RGB/depth alignment, query the intrinsic parameters and, finally, apply the pin-hole model. That's indeed a lot of burden to place on clients and again raises some of my concerns from https://github.com/roboticslab-uc3m/vision/issues/69#issuecomment-750909956, but in a worse man

[2022-01-18 11:29] jgvictores commented on #69
I really hadn't taken into account this portion of logic that was happening on the `rgbdDetector` side. I totally agree. : )

[2022-04-21 16:05] PeterBowman opened #108 "Introducing a landmark-based face detector"
Our new member @cllamasmar (Carlos) is working on a face detector based on [dlib](http://dlib.net/) and the [histogram of oriented gradients](https://en.wikipedia.org/wiki/Histogram_of_oriented_gradients) algorithm. [This Python example](https://pyimagesearch.com/2021/04/19/face-detection-with-dlib-hog-and-cnn/) is probably close to the working implementation he showed me today. I have suggested t

[2022-04-21 16:27] jgvictores commented on #108
Afaik, a detector based on HOG features should/could be more generic (similar to how Haar which we use for faces, but depends on a `.xml` cascade/config file).

❤️ **HogFaceDetector**, but maybe **HogDetector** would be better?

[2022-04-21 16:56] PeterBowman commented on #108
That would be ideal. I think Carlos tried the [`get_frontal_face_detector`](http://dlib.net/imaging.html#get_frontal_face_detector) function as all he needs is detection of faces and a certain number of landmarks on them (see [example](http://dlib.net/webcam_face_pose_ex.cpp.html)). There is a more generic [object_detector](http://dlib.net/imaging.html#object_detector) class we would need to inves

[2022-04-21 18:41] PeterBowman commented on #108
ASWJ, we would rather explore a generic HOG implementation with OpenCV. It is a better option than dlib from our point of view since there is no need to configure another dependency. Also, we have no experience with dlib.

tl;dr: looking forward to detecting hogs in OpenCV, but no plans to do so in the short-mid-long term, therefore closing as invalid/a-bit-too-rushed-my-bad. (@cllamasmar please r

[2022-05-12 10:56] PeterBowman commented on #108
We are currently revisiting this.

[2022-05-24 19:10] PeterBowman commented on #108
Important to note: dlib must be compiled and installed from sources (https://github.com/davisking/dlib) instead of via apt (`libdlib-dev` package) due to a bug related to `dlib::cv_image` which prevents from compiling dependent projects.

[2022-06-02 09:49] cllamasmar commented on #108
https://medium.com/codex/facial-landmark-detection-algorithms-5b2d2a12adaf
https://github.com/opencv/opencv_contrib/tree/b2904b94414e885a595ec0c56fa70da5a3fe8472/modules/face/src

[2022-06-02 10:29] cllamasmar commented on #108
![Captura de pantalla de 2022-06-02 12-27-38](https://user-images.githubusercontent.com/102754954/171610709-3d13796f-f6ff-47de-b44e-d26d50078818.png)

[2022-06-02 15:41] #108 closed, assigned to cllamasmar

[2022-10-11 17:24] PeterBowman commented on #107
Might be useful: https://github.com/Jimver/cuda-toolkit (a GH action to install CUDA).